%table.table.table-striped
  %thead
  %tbody
  - @songs.each do |song|
    %tr
      -#%td= image_tag(song.album.image.thumb('50x50#').url
      - if user_signed_in? && current_user.unpaid_member?
        %td.center= link_with_icon("Play", song_url(song), "icon-play icon-white", "btn btn-info unpaid_members_music",  {:class => "play", :id => "play-#{song.id}", "data-song" => song.id})
      - else
        %td.center= link_with_icon("Play", song_url(song), "icon-play icon-white", "btn btn-info",  {:class => "play", :id => "play-#{song.id}", "data-song" => song.id})
      %td.center= song.title
