- title "Channels"

.row-fluid
  .span12
    %ul.breadcrumb.entry-title
      %li.active= Channels

.row-fluid
  .span12
    %ul.thumbnails
      - @channels.each do |channel|
        - if channel.active?
          %li.span4
            .thumbnail
              = link_to image_tag(channel.banner_image.thumb('507x265#').url), root_url(subdomain: channel.subdomain), class: 'pjax' if channel.banner_image
              .caption
                %h5= channel.name
                %p= truncate(channel.description, :length => 80, :omission =>  "...")

.row-fluid
  .span12
    %ul.breadcrumb.entry-title
      %li.active Coming Soon

.row-fluid
  .span12
    %ul.thumbnails
      - @channels.each do |channel|
        - unless channel.active?
          %li.span4
            .thumbnail
              = link_to image_tag(channel.banner_image.thumb('507x265#').url), "#Coming-Soon!" if channel.banner_image
              .caption
                %h5= channel.name
                %p= truncate(channel.description, :length => 80, :omission =>  "...")


.row-fluid
  .span12
    .space_filler{:style => 'padding: 0 0 34%;'}
