- title @channel.name

- if @video.present?
  - content_for :open_graph do
    %meta{property: "og:title", content: @video.title}
    %meta{property: "og:type", content: "video.other"}
    %meta{property: "og:url",  content: video_url(@video)}
    %meta{property: "og:image",content: @video.image.url(:host => "http://#{request.host}")}
    %meta{property: "og:site_name", content: "Altimarc"}
    %meta{property: "og:description", content: @video.description}

.content-border
  #banner
    = image_tag @channel.banner_image.url if @channel.banner_image_uid    
  .row-fluid
    .span8
      %h2.heading Recent Webisodes 
      = render 'channels/videos'
      .row-fluid
        .span
          %h2.heading Recent Photo Albums
          = render 'channels/photos'
      .row-fluid
        .span#posts
          %h2.heading Recent Updates
          = render :partial => 'post', :collection => @posts

    .span4
      .rightsidebar
        .row-fluid
          .span
            %h1.heading= @channel.name
            #description.span
              %p= @channel.description
            = render 'channels/social_media'
          .row-fluid
            .span
              %h2.heading Featured Album
              = render 'channels/featured_album'
          .row-fluid
            .span
              %h2.heading Featured Sponsor
              .thumbnail
                = link_to image_tag('layout/ad-holder.png'), altimarc_for_your_business_url
