- title @channel.name

- content_for :open_graph do
  %meta{property: "og:title", content: @video.title}
  %meta{property: "og:type", content: "video.other"}
  %meta{property: "og:url",  content: video_url(@video)}
  %meta{property: "og:image",content: "http://46qa.localtunnel.com/#{@video.image.url}"}
  %meta{property: "og:site_name", content: "Altimarc"}
  %meta{property: "og:description", content: @video.description}

.videoplayer{:style => "background: url(../../../../assets/html5video/watch-area-bg.png) repeat-x;height: 500px;padding: 20px 0;"}
  #video
  #player{:style => 'margin: 0 auto;width: 896px;height: 504px;'}
    .projekktor

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .content
    .container{"data-pjax-container" => ""}
      %h2 Episodes 

      #latest_videos.carousel.slide
        / Carousel items
        .carousel-inner
          - @videos.each_slice(4) do |array|
            .item
              %ul.thumbnails
                - array.each do |video|
                  %li.span3
                    .thumbnail
                      = image_tag(video.image.thumb('260x180#').url)
                      .caption
                        %h5= video.title
                        %p.description= video.description.truncate(125)
                        %p
                          = link_with_icon("Watch", video_url(video), "icon-film icon-white", "btn btn-info pjax")

        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#latest_videos"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#latest_videos"} ›

      .row
        .span8
          %h3 Posts
          = render :partial => 'post', :collection => @posts
          %h3 Songs
          %table.table.table-striped
            %thead
              %tr
                %th
                %th Title
            %tbody
            - @songs.each do |song|
              %tr
                %td.center= link_with_icon("Play", song_url(song), "icon-play icon-white", "btn btn-info",  {:class => "play", :id => "play-#{song.id}", "data-song" => song.id})  
                %td.center= song.title

        .span4
          .rightsidebar
            .span
              %h1= @channel.name
            .span
              %ul
                %li
                  %a.twitter-follow-button{"data-show-count" => "false", "data-show-screen-name" => "false", :href => "https://twitter.com/#{@channel.twitter_id}", :target => "_blank"} Follow
                %li
                  .fb-like{"data-font" => "arial", "data-href" => "http://facebook.com/#{@channel.facebook_page}", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}

                %li
                  .g-plusone{"data-href" => "https://plus.google.com/109799687634302877687", "data-size" => "medium"}

            .span
              %p{:style => "padding: 20px 0px;"}= @channel.description
            .span
              %ul.thumbnails
                - @photos.each do |photo|
                  %li.span3
                    .thumbnail
                      = image_tag(photo.image.thumb('280x160#').url)



- javascript 'frontend/plugins/html5video'

-#video
:javascript
  $(document).ready(function() {
    var player = projekktor('.projekktor', {
    	width: 896,
    	height: 504,
    	poster: "#{@video.image.url}",
    	controls: true,
    	playlist: [
        {
          0: {src:'http://www.projekktor.com/content/demos/slideshow/html5-Logo.jpg', type:"image/jpeg"},
          config:{
            duration: 5
          }
        },
        {
        },
        {
          0: {src:'http://www.projekktor.com/content/demos/slideshow/image1.png', type:"image/png"},
          config:{
            duration: 5
          }
        }
    	]
    });
  });

-#twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}

