- title @channel.name

= image_tag @channel.banner_image.url if @channel.banner_image_uid

#channel{:style => "margin: 20px 0 0;"}
  .span9
    %p= @channel.description
  .span3
    = link_to image_tag('icons/facebook-64x64.png'), "https://www.facebook.com/markcollieofficial", :style => "margin-left: 6px;", :target => "_blank"
    = link_to image_tag('icons/twitter-64x64.png'), "https://twitter.com/MarkCollie2", :style => "margin-left: 6px;", :target => "_blank"
    = link_to image_tag('icons/reverbnation-64x64.png'), "http://www.reverbnation.com/markcollieofficial", :style => "margin-left: 6px;", :target => "_blank"
