- title @channel.name

- if @video.present?
  - content_for :open_graph do
    %meta{property: "og:title", content: @video.title}
    %meta{property: "og:type", content: "video.other"}
    %meta{property: "og:url",  content: video_url(@video)}
    %meta{property: "og:image",content: "http://46qa.localtunnel.com/#{@video.image.url}"}
    %meta{property: "og:site_name", content: "Altimarc"}
    %meta{property: "og:description", content: @video.description}

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .container-fluid.content
    #slideshow
      = image_tag @channel.banner_image.thumb('1600x505#').url if @channel.banner_image_uid    
    .row-fluid
      .span8
        %h2.heading Recent Episodes
        = render 'channels/videos'
        .row-fluid
          .span
            %h2.heading Recent Photo Albums
            = render 'channels/photos'
        .row-fluid
          .span#posts
            %h2.heading Recent Updates
            = render :partial => 'post', :collection => @posts

      .span4
        .rightsidebar
          .row-fluid
            .span
              %h1.heading= @channel.name
              #description.span
                %p= @channel.description
              = render 'channels/social_media'
            .row-fluid
              .span
                %h2.heading Featured Album
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/488x294"}
                    .caption
                      %h5 title
                      %p description
                      = link_with_icon("Listen Free Preview", "#", "icon-play icon-white", "btn btn-success btn-large")
            .row-fluid
              .span
                %h2.heading Featured Sponsor
                .thumbnail
                  %img{:alt => "", :src => "http://placehold.it/488x294"}

-#twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}

