- title @channel.name

- if @video.present?
  - content_for :open_graph do
    %meta{property: "og:title", content: @video.title}
    %meta{property: "og:type", content: "video.other"}
    %meta{property: "og:url",  content: video_url(@video)}
    %meta{property: "og:image",content: @video.image.url(:host => "http://#{request.host}")}
    %meta{property: "og:site_name", content: "Altimarc"}
    %meta{property: "og:description", content: @video.description}


#banner
  = image_tag @channel.banner_image.url if @channel.banner_image_uid    
.row-fluid
  .span8
    %h2.heading Recent Webisodes 
    = render 'channels/videos'
    .row-fluid
      .span
        %h2.heading Recent Photo Albums
        = render 'channels/photos'
    .row-fluid
      .span#posts
        %h2.heading Recent Updates
        = render :partial => 'post', :collection => @posts

  .span4
    .rightsidebar
      .row-fluid
        .span
          %h1.heading= @channel.name
          #description.span
            %p= @channel.description
          = render 'channels/social_media'
        .row-fluid
          .span
            %h2.heading Featured Album
            .thumbnail
              %img{:alt => "", :src => @featured_album.image.thumb('488x294#').url }
                .caption
                  %h5= @featured_album.title
                  = link_with_icon("Free Preview", album_url(@featured_album), "icon-play icon-white", "btn btn-success btn-large")
        .row-fluid
          .span
            %h2.heading Featured Sponsor
            .thumbnail
              = link_to image_tag('layout/ad-holder.png'), altimarc_for_your_business_url

-#twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}

