.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => root_url}
          %i.icon-home
        %span.divider /
      %li.active= @channel.name
.row
  .span12
    #gallery
      = image_tag @channel.banner_image.url if @channel.banner_image_uid
      = image_tag @channel.banner_image.url if @channel.banner_image_uid
      / %img{:src => "assets/demo_images/3.jpg"}/
      %img{:src => "demo_images/4.jpg"}/
      %img{:src => "demo_images/5.jpg"}/
      %img{:src => "demo_images/6.jpg"}/
    #thumbs
      %img{:src => "demo_images/11.jpg"}/
      %img{:src => "demo_images/22.jpg"}/
      %img{:src => "demo_images/33.jpg"}/
      %img{:src => "demo_images/44.jpg"}/
      %img{:src => "demo_images/55.jpg"}/
      %img{:src => "demo_images/66.jpg"}/
    %a#next{:href => "javascript:;;"}
.row
  .span12
    .page-header
      %h1
    %p

.row
  .span8
    %h1= @channel.name
    %p{:style => "padding: 20px 0px;"}= @channel.description
    
    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Musics
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Videos
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Photos
      .tab-content
        #tab1.tab-pane.active
          %ul
            %li Sed ut perspiciatis unde omnis iste natus
            %li Sed ut perspiciatis unde omnis iste natus
            %li Sed ut perspiciatis unde omnis iste natus
            %li Sed ut perspiciatis unde omnis iste natus
            %li Sed ut perspiciatis unde omnis iste natus
            %li Sed ut perspiciatis unde omnis iste natus
        #tab2.tab-pane
          %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        #tab3.tab-pane{:style => "text-align:center"}
          .row
            .span12
              %ul.thumbnails
                %li.span3
                  .thumbnail
                    %img{:alt => "", :src => "demo_images/dslr1.jpg"}/
                %li.span3
                  .thumbnail
                    %img{:alt => "", :src => "demo_images/dslr2.jpg"}/
                %li.span3
                  .thumbnail
                    %img{:alt => "", :src => "demo_images/dslr3.jpg"}/
                %li.span3
                  .thumbnail
                    %img{:alt => "", :src => "demo_images/dslr1.jpg"}/
    
  .span4
    .rightsidebar
      .row
        .span4
          %h3 Recently Posts
      .row.items
        .span1
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/160x160"}
        .span3
          %h4 Lorem ipsum dolor sit amet
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .row.items
        .span1
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/160x160"}
        .span3
          %h4 Lorem ipsum dolor sit amet
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .row.items.last
        .span1
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/160x160"}
        .span3
          %h4 Lorem ipsum dolor sit amet
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

      .row
        .span4
          %h3 Recently Posts
      .row.items
        .span1
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/160x160"}
        .span3
          %h4 Lorem ipsum dolor sit amet
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .row.items
        .span1
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/160x160"}
        .span3
          %h4 Lorem ipsum dolor sit amet
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .row.items.last
        .span1
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/160x160"}
        .span3
          %h4 Lorem ipsum dolor sit amet
          %p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua