- title @channel.name


.row
  .span12
    %ul.breadcrumb.entry-title
      %li.active= @channel.name

.row
  .span12
    #gallery
      = image_tag @channel.banner_image.url if @channel.banner_image_uid
      / = image_tag @channel.banner_image.url if @channel.banner_image_uid
      / %img{:src => "assets/demo_images/3.jpg"}/
    /   %img{:src => "demo_images/4.jpg"}/
    /   %img{:src => "demo_images/5.jpg"}/
    /   %img{:src => "demo_images/6.jpg"}/
    / #thumbs
    /   %img{:src => "demo_images/11.jpg"}/
    /   %img{:src => "demo_images/22.jpg"}/
    /   %img{:src => "demo_images/33.jpg"}/
    /   %img{:src => "demo_images/44.jpg"}/
    /   %img{:src => "demo_images/55.jpg"}/
    /   %img{:src => "demo_images/66.jpg"}/
    / %a#next{:href => "javascript:;;"}
.row
  .span12
    .page-header
      %h1
    %p

.row
  .span8
    %h1= @channel.name
    %p{:style => "padding: 20px 0px;"}= @channel.description

    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Musics
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Videos
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Photos
      .tab-content
        #tab1.tab-pane.active
          %ul
            - @songs.each do |song|
              %li= song.title

        #tab2.tab-pane
          %ul
            - @videos.each do |video|
              %li= video.title

        #tab3.tab-pane{:style => "text-align:center"}
          .row
            .span12
              %ul.thumbnails
                - @photos.each do |photo|
                  %li.span3
                    .thumbnail
                      = image_tag(photo.image.thumb('280x160#').url)

  .span4
    .rightsidebar
      .row
        .span4
          %h3 Recent Posts
      = render :partial => 'post', :collection => @posts