- title @channel.name

- content_for :open_graph do
  %meta{property: "og:title", content: @video.title}
  %meta{property: "og:type", content: "video.other"}
  %meta{property: "og:url",  content: channel_video_url(@channel, @video)}
  %meta{property: "og:image",content: "http://46qa.localtunnel.com/#{@video.image.url}"}
  %meta{property: "og:site_name", content: "Altimarc"}
  %meta{property: "og:description", content: @video.description}

.videoplayer
  #video
  #player
    .projekktor
  #video_info.container
    %h2= @channel.name + ' - ' + @video.title
    %ul#video_social_sharing
      %li= link_to "Facebook", "#"
      %li= link_to "Tweet", "#"
      -#TODO: Add share by email function 
      -#%li= link_to "Share", "#"
      %li= link_to "Details", "#", :id => "details_link"
    #details
      .row
        .span
          %p= @video.description

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .content
    .container
      %h3 
        Recent Episodes
        = link_to "(See all)", channel_videos_url(@channel)
        %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#payments"} Launch demo Payments

      = render 'channels/videos'

      .row
        #posts.span8
          .tabbable
            / Only required for left/right tabs
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab1"} Latest
              %li
                %a{"data-toggle" => "tab", :href => "#tab2"} Music
              %li
                %a{"data-toggle" => "tab", :href => "#tab3"} Photos

          .tab-content
            #tab1.tab-pane.active
              = render :partial => 'post', :collection => @posts
              .row
                = link_to "Read More >>", channel_posts_url(@channel), :class => "read-more pull-right"
            #tab2.tab-pane
              = render 'channels/music'
            #tab3.tab-pane{:style => "text-align:center"}
              = render 'channels/photos'

        .span4
          .rightsidebar
            %h1= @channel.name
            .span
            = render 'channels/social_media'
            #description.span
              %p= @channel.description

- if current_user
  = render 'shared/paid_members_modal'


- javascript 'frontend/plugins/html5video'

-#video
:javascript
  $(document).ready(function() {
    $('#details').hide();
    $('#details_link').click(function () {
      $('#details').toggle();
    });

    var player = projekktor('.projekktor', {
    	width: 896,
    	height: 504,
    	poster: "#{@video.image.url}",
      controls: true,
      plugin_display: {
        logoImage:"../../../../assets/html5video/logo.png"
       },
    	playlist: [
        {
          0: {src:'../../../../assets/html5video/ad-placeholder.png', type:"image/jpeg"},
          config:{
            duration: 5
          }
        },
        {
        },
        {
          0: {src:'../../../../assets/html5video/ad-placeholder.png', type:"image/png"},
          config:{
            duration: 5
          }
        }
    	]
    });
  });

-#twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}

