- title @channel.name

- if @video.present?
  - content_for :open_graph do
    %meta{property: "og:title", content: @video.title}
    %meta{property: "og:type", content: "video.other"}
    %meta{property: "og:url",  content: video_url(@video)}
    %meta{property: "og:image",content: "http://46qa.localtunnel.com/#{@video.image.url}"}
    %meta{property: "og:site_name", content: "Altimarc"}
    %meta{property: "og:description", content: @video.description}

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .container-fluid.content
    #slideshow
      = image_tag @channel.banner_image.thumb('1600x505#').url if @channel.banner_image_uid    
    .row-fluid
      .span12
        %h3 Recent Episodes
        = render 'channels/videos'

      .row-fluid
        #posts.span8
          .tabbable
            / Only required for left/right tabs
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab1"} Latest
              %li
                %a{"data-toggle" => "tab", :href => "#tab2"} Music
              %li
                %a{"data-toggle" => "tab", :href => "#tab3"} Photos

          .tab-content
            #tab1.tab-pane.active
              = render :partial => 'post', :collection => @posts
              -# TODO: add pagination for posts
              -#- if @posts.count > 4
                -#%ul.pager
                  -#%li
                    -#%a{:href => "#"} ← Older
                  -#%li
                    -#%a{:href => "#"} Newer →
            #tab2.tab-pane
              = render 'channels/music'
            #tab3.tab-pane{:style => "text-align:center"}
              = render 'channels/photos'

        .span4
          .rightsidebar
            %h1= @channel.name
            .span
            = render 'channels/social_media'
            #description.span
              %p= @channel.description


-#twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}

