- title @channel.name

- content_for :open_graph do
  %meta{property: "og:title", content: @video.title}
  %meta{property: "og:type", content: "video.other"}
  %meta{property: "og:url",  content: channel_video_url(@channel, @video)}
  %meta{property: "og:image",content: "http://46qa.localtunnel.com/#{@video.image.url}"}
  %meta{property: "og:site_name", content: "Altimarc"}
  %meta{property: "og:description", content: @video.description}

= render 'shared/videoplayer'

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .content
    .container
      - if user_signed_in? && current_user.paid_member?
        %h3 Recent Episodes
      - else
        %h3 Recent Episodes
        %p
          %span{:style => 'color:red;'}
            (PREVIEWS ONLY)
          = ' - '
          = link_to 'become a member', 'javascript:;', :class => 'become_a_member'
          for full episodes
      -# TODO: add see all button and style see all page
      -#= link_to "(See all)", channel_videos_url(@channel)

      = render 'channels/videos'

      .row
        #posts.span8
          .tabbable
            / Only required for left/right tabs
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab1"} Latest
              %li
                %a{"data-toggle" => "tab", :href => "#tab2"} Music
              %li
                %a{"data-toggle" => "tab", :href => "#tab3"} Photos

          .tab-content
            #tab1.tab-pane.active
              = render :partial => 'post', :collection => @posts
              -# TODO: add pagination for posts
              -#- if @posts.count > 4
                -#%ul.pager
                  -#%li
                    -#%a{:href => "#"} ← Older
                  -#%li
                    -#%a{:href => "#"} Newer →
            #tab2.tab-pane
              = render 'channels/music'
            #tab3.tab-pane{:style => "text-align:center"}
              = render 'channels/photos'

        .span4
          .rightsidebar
            %h1= @channel.name
            .span
            = render 'channels/social_media'
            #description.span
              %p= @channel.description

= render 'shared/video_playlist'

-#twitter
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}

