:javascript
  $(document).ready(function(){
  	// Jquery UI Datepicker
  	$(".datepicker_on").datepicker();	
  });
= simple_form_for [:admin, @channel, @album], :html => {:multipart => true, :class => 'form-horizontal'} do |f|
  = f.input :title, :input_html => {:class => "input-xlarge"}
  = f.input :image, :as => :file, :label => "Image"
  = f.input :preorder, :as => :boolean
  = f.input :preorder_price
  = f.input :price, :input_html => {:value => f.object.read_attribute(:price) }
  = image_tag @album.image.thumb('100x100#').url if @album.image
  = f.input :description, :input_html => {:class => "input-xlarge"}
  - publish_date = f.object.publish_at.nil? ? nil : f.object.publish_at.strftime('%m/%d/%Y')
  - release_date = f.object.release_date.nil? ? nil : f.object.release_date.strftime('%m/%d/%Y')
  = f.input :publish_at, :as => :string, :input_html => { :class => 'datepicker_on', :value => publish_date }
  = f.input :release_date, :as => :string, :input_html => {:class => 'datepicker_on', :value => release_date }
  -# = f.input :active
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    or
    = link_to 'Go Back', url_for(:back), :class => 'btn'

