.content-border
  .row-fluid{:style => 'margin-top: 20px;'}
    .span8
      .widget
        .widget-header
          %i.icon-user
          %h3 Your Account
        / /widget-header
        .widget-content
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#profile"} Profile
              %li
                %a{"data-toggle" => "tab", :href => "#settings"} Membership
            %br
              .tab-content
                #profile.tab-pane.active
                  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :class => 'form-stacked') do |f|
                    = devise_error_messages!
                    = f.input :first_name, :class => 'input-large'
                    = f.input :last_name
                    = f.input :email
                    = f.input :password
                    = f.input :password_confirmation, :hint => "Leave blank if you don't want to change it"
                    = f.input :current_password, :required => true, :hint => 'We need your current password to confirm your changes'
                    = f.submit "Update", :class => 'btn btn-primary btn-large', :style => 'margin-top: 20px;'
                #settings.tab-pane
                  .membership
                  - if current_user.unpaid_member?
                    = link_to "Become a Paid Member", subscribe_user_url, :class => 'btn btn-success btn-large'

                  - if current_user.paid_member?
                    = form_for(resource, :as => resource_name, :url => cancel_membership_path, :html => {:method => :post}, :class => "form-stacked") do |f|
                      = f.submit "Please cancel my Membership", :class => 'btn btn-danger'

    .span4
      .widget.widget-box
        .widget-header
          %h3 Extra Info
        / /widget-header
        .widget-content
          %p 
            Questions?
            = mail_to 'support@altimarc.com', 'Contact Us' 

