- title "Sign up with Email"

.row
  .span6#with_email
    .overlay
      .overlay-inside
        = image_tag('logo-login.png', :class => 'logo')
        %p Entertainment and once in a life time opportunities!
        .row
          .span#form
            = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'well'}) do |f|
              = f.error_notification
              = f.input :first_name, :class => "input-xlarge", :placeholder => "First Name", :label => false
              = f.input :last_name, :placeholder => "Last Name", :label => false, :class => "input-xlarge"
              = f.input :email, :required => true, :placeholder => "Email", :label => false, :class => "input-xlarge"
              = f.input :password, :required => true, :placeholder => "Password", :label => false, :class => "input-xlarge"
              = f.input :password_confirmation, :hint => '6 characters or longer.', :required => true, :placeholder => "Password Confirmation", :label => false, :class => "input-xlarge"
              = f.submit "Create my account", :class => 'btn btn-success', :id => 'create-my-account'

        .row
          .span#other_links
            %p
              = link_to "Forgot your password?", new_user_password_url, :class => "pjax"
            %p
              = link_to "Sign In with Facebook", login_url, :id => "with_facebook_link"

.row
  .span6#facebook_photos
    .fb-facepile{"data-href" => "http://facebook.com/altimarc", "data-max-rows" => "1", "data-width" => "448", "data-colorscheme" => "dark"}
