:css
  .leftcolumn {
    background: white;
    -moz-box-shadow: 5px 8px 5px #888;
    -webkit-box-shadow: 5px 8px 5px #888;
    box-shadow: 5px 8px 5px #888;
    margin: 0 0 20px;
  }
  h2 {
    font-size: 16px;
    line-height: 22px;
    background: #3777D3;
    color: white;
    border-bottom: #d5d5d5 solid 1px;
    padding: 10px 15px;
  }
  h3 {
    margin: 0 0 20px 80px;
  }
  .basics h3 {
    color: #376D00;
    background: url(assets/payments/step-1.png) no-repeat;
    padding-left: 35px;
    font-size: 14px;
  }
  .payment h3 {
    color: #376D00;
    background: url(assets/payments/step-2.png) no-repeat;
    padding-left: 35px;
    font-size: 12px;
    line-height: 1.3em;
  }
  .already_member {
    margin: 15px 0 15px;
    padding: 5px 15px;
    background: #FFC;
    line-height: 1.4em;
    height: 45px;
  }
  .password {
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px 20px;
    padding: 0 0 5px;
  }
  .payment {
    border-bottom: 1px solid #ccc;
    margin: 10px 0 20px 20px;
    padding: 0 0 20px;
  }
  .payment strong {
    font-size: 11px;
  }
  .help-block {
    color: #999;
    font-size: 11px;
  }
  .credit_card {
    width: 370px;
    float: left;
    clear: both;
  }

.leftcolumn.span9
  %h2 You're just 60 seconds away from your new Altimarc account.
  .already_member.span6
    %strong Already have a Altimarc account?
    %br
      %p
        = link_to "Sign in here", login_url(subdomain: "www")
        to skip this form and use the email you already have.
  .form.span6
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
      = devise_error_messages!

      .basics.span8
        %h3 The basics

        //first name
        .control-group
          = f.label :first_name, :class => "control-label"
          .controls
            = f.text_field :first_name, :class => 'input-large'
        
        //last name
        .control-group
          = f.label :last_name, :class => "control-label"
          .controls
            = f.text_field :last_name, :class => 'input-large'

        //email
        .control-group
          = f.label :email, :class => "control-label"
          .controls
            = f.email_field :email, :class => 'input-large'

      .password.span8
        %h3 Now choose a password

        //password
        .control-group
          = f.label :password, :class => "control-label"
          .controls
            = f.password_field :password, :class => 'input-large'
            %p.help-block
              6 characters or longer with at least one number is safest.

        //confirm password
        .control-group
          = f.label :password_confirmation, :class => "control-label"
          .controls
            = f.password_field :password_confirmation, :class => 'input-large'

      .payment.span8
        %h3 Thanks for paying. Your hard earned money goes towards making Altimarc an even better product.

        //credit card
        .control-group.credit_card
          %label.control-label{:for => "input01"} Credit Card
          .controls
            %input#input01.input-large{:type => "text"}
              %p.help-block Supporting help text
        
        //credit card icons
        .span
          = image_tag('payments/icon-lock.png')
          %strong Secure
          = image_tag('payments/img-creditcards.png')

        //credit card 

      .coupon.span8
        = link_to "Got a Coupon Code?", "#"

      .actions
        = f.submit "Sign up", :class => 'btn primary'
