- javascript "https://js.stripe.com/v1/", "registrations"
- stylesheet "registrations"
- content_for :head do
  %meta{:name => "stripe-key", :content => STRIPE_PUBLIC_KEY}

#registration_form
  .leftcolumn.span8
    %h2 You're just 60 seconds away from your new Altimarc account.
    .already_member
      %strong Already have a Altimarc account?
      %br
        %p
          = link_to "Sign in here", login_url(subdomain: "www")
          to skip this form and use the email you already have.
    .form
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
        = f.error_notification

        #stripe_error.error_explanation
          %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

        .basics.span
          %h3 The basics

          = f.input :first_name
          = f.input :last_name
          = f.input :email, :required => true

        .password.span
          = image_tag('payments/password.png', :class => 'password_image')

          //password
          = f.input :password, :required => true
          = f.input :password_confirmation, :hint => '6 characters or longer with at least one number is safest.', :required => true

        .payment.span
          %h3 Thanks for paying. Your hard earned money goes towards making Altimarc an even better product.

          //credit card
          .control-group.credit_card
            %label.control-label{:for => "credit_card"} Credit Card
            .controls
              %input#card_number.input-large{:type => "text"}

          //credit card icons
          .span
            = image_tag('payments/icon-lock.png')
            %strong Secure
            = image_tag('payments/img-creditcards.png')

          //credit card cvv
          .control-group.security_code
            %label.control-label{:for => "security_code"} Security Code on Card (CVV)
            .controls
              %input#security_code.input-small{:type => "text", :size => '4', :maxlength => '4'}

          .control-group.card_expiration
            %label.control-label{:for => "card_month"} Card Expiration
            .controls
              = select_month nil, {add_month_numbers: true, :use_short_month => true}, {name: nil, id: "card_month", :class => 'input-small'}
              = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => 'input-small'}

          = f.hidden_field :stripe_card_token

        //coupon
        .coupon.span
          = link_to "Got a Coupon Code?", "javascript:;", :id => "coupon_link"
          .control-group#coupon_code
            %label.control-label{:for => "input01"} Coupon Code
            .controls
              %input#input01.input-small{:type => "text"}


        //info
        .info.span
          %p
            %strong Your 24-hour free trial lasts until
            - trail_end_time = Time.now + 1.days
            %strong= trail_end_time.strftime("%I:%M%p %m-%d-%y")
            If you don't want to continue using Altimarc, just cancel before the trial ends and you won't be charged. Otherwise, you'll pay just $9.95/month for the service as long as your account is open. You can cancel any time.

        //policy
        .policy.span
          %p 
            By clicking Create my account you agree to the
            = link_to "Terms of Service,", terms_url(:subdomain => "www")
            = link_to "Privacy,", privacy_url(:subdomain => "www")
            %span and
            = succeed "." do
              = link_to "Refund policies", refund_url(:subdomain => "www")

        .actions.span
          = f.submit "Create my account", :class => 'btn-primary btn-success btn-large'
  .rightcolumn.span4
    = image_tag('payments/thanks.png')
    = image_tag('payments/24hour.png', :class => 'trial_time')
