#registration_form
  .leftcolumn.span8
    %h2 You're just 60 seconds away from your new Altimarc account.
    .already_member
      %strong Already have a Altimarc account?
      %br
        %p
          = link_to "Sign in here", login_url(subdomain: "www")
          to skip this form and use the email you already have.
    .form
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
        = devise_error_messages!

        .basics.span
          %h3 The basics

          //first name
          .control-group
            = f.label :first_name, :class => "control-label"
            .controls
              = f.text_field :first_name, :class => 'input-large'
          
          //last name
          .control-group
            = f.label :last_name, :class => "control-label"
            .controls
              = f.text_field :last_name, :class => 'input-large'

          //email
          .control-group
            = f.label :email, :class => "control-label"
            .controls
              = f.email_field :email, :class => 'input-large'

        .password.span
          = image_tag('payments/password.png', :class => 'password_image')

          //password
          = f.label :password
          = f.password_field :password, :class => "input-large span"
          %span.help-block 6 characters or longer with at least one number is safest.

          //confirm password
          = f.label :password_confirmation
          = f.password_field :password_confirmation, :class => "input-large span"

        .payment.span
          %h3 Thanks for paying. Your hard earned money goes towards making Altimarc an even better product.

          //credit card
          .control-group.credit_card
            %label.control-label{:for => "input01"} Credit Card
            .controls
              %input#input01.input-large{:type => "text"}
          
          //credit card icons
          .span
            = image_tag('payments/icon-lock.png')
            %strong Secure
            = image_tag('payments/img-creditcards.png')

          //credit card billing zip
          .control-group.billing_zip
            %label.control-label{:for => "input01"} Billing ZIP
            .controls
              %input#input01.input-small{:type => "text"}
                %p.help-block (or Postal Code if not in the USA)


        //coupon
        .coupon.span
          = link_to "Got a Coupon Code?", "", :id => "coupon_link"
          .control-group#coupon_code
            %label.control-label{:for => "input01"} Coupon Code
            .controls
              %input#input01.input-small{:type => "text"}


        //info
        .info.span
          %p
            %strong Your 24-hour free trial lasts until
            - trail_end_time = Time.now + 1.days
            %strong= trail_end_time.strftime("%I:%M%p %m-%d-%y")
            If you don't want to continue using Altimarc, just cancel before the trial ends and you won't be charged. Otherwise, you'll pay just $9.95/month for the service as long as your account is open. You can cancel any time.

        //policy
        .policy.span
          %p 
            By clicking Create my account you agree to the
            = link_to "Terms of Service,", "#"
            = link_to "Privacy,", "#"
            %span and
            = link_to "Refund policies.", "#"

        .actions.span
          = f.submit "Create my account", :class => 'btn-primary btn-success btn-large'
  .rightcolumn.span4
    = image_tag('payments/thanks.png')
    = image_tag('payments/24hour.png', :class => 'trial_time')
