= simple_form_for [:admin, @channel, @album, @song], :html => { :multipart => true, :class => 'form-horizontal', :style => "clear:both;" } do |f|
  = f.input :title, :input_html => {:class => "input-xlarge"}
  = f.input :price, :input_html => {:class => "input-xlarge"}
  = f.input :song, as: :file
  = f.input :preview, as: :file  
  = f.input :active, as: :boolean
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    or
    = link_to 'Go Back', url_for(:back), :class => 'btn'
