= form_for([:admin, @song], :html => { :multipart => true }) do |f|
  .clearfix
    = f.label :title, t("activerecord.attributes.song.title", :default => "Title"), :class => :label
    .input
      = f.text_field :title, :class => 'text_field'
  .clearfix
    = f.label :album, t("activerecord.attributes.song.album", :default => "Album"), :class => :label
    .input
      = f.text_field :album, :class => 'text_field'
  .clearfix
    = f.label :song_price, t("activerecord.attributes.song.song_price", :default => "Song price"), :class => :label
    .input
      = f.number_field :song_price, :class => 'number_field'
  .clearfix
    = f.label :album_price, t("activerecord.attributes.song.album_price", :default => "Album price"), :class => :label
    .input
      = f.number_field :album_price, :class => 'number_field'
  .form-actions
    %button.btn.primary{:type => "submit"} Save
    or
    = link_to "Cancel", admin_channel_songs_path
