= simple_form_for [:admin, parent, resource], :html => { :multipart => true, :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :album
  = f.input :song_price
  = f.input :album_price
  .form-actions
    %button.btn.primary{:type => "submit"} Save
    or
    = link_to "Cancel", admin_channel_songs_path
