.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top Edit #{@channel.name}'s - #{@album.title}
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom.padding_20
          %table.table.table-striped
            %thead
              %tr
                %th Song
                %th Price
                %th Active
                %th
            %tbody
              - @songs.each do |song|
                - unless song.new_record?
                  %tr
                    %td= song.title
                    %td= song.price
                    %td= song.active
                    %td
                      %a.btn{:href => edit_admin_channel_album_song_path(@channel.id, @album.id, song.id)}
                        %i.icon-pencil
                        Edit
                      %a.btn.btn-danger{:href => admin_channel_album_song_path(@channel.id, @album.id, song.id), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
                        %i.icon-trash.icon-white
                        Destroy