- javascript 'admin/musicplayer', 'admin/songs'

:css
  ul#song {
    margin-right: 25px; 
  }
  ul#song li {
    padding: 7px 14px;
    margin: 20px 0;
    list-style: none;
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, white, #f5f5f5);
    background-image: -ms-linear-gradient(top, white, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, white, #f5f5f5);
    background-image: -o-linear-gradient(top, white, #f5f5f5);
    background-image: linear-gradient(top, white, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    font-size: 16px;
    height: 27px;
  }

.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top Edit #{@channel.name}'s - #{@album.title}
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom{:style => 'overflow: auto;'}
          .row-fluid
            .span
              %ul#song{"data-update-url" => sort_admin_channel_album_songs_url}
                - @songs.each do |song|
                  = content_tag_for :li, song do
                    .span
                      .span9{:style => 'padding-top: 3px;'}
                        %i.icon-resize-vertical.handle{:style => 'margin: 2px 30px 0 0;'}
                        = link_to '', "#{song.song}", :class => 'sm2_button'
                        = song.title
                      .span3
                        .pull-right
                          %a.btn{:href => edit_admin_channel_album_song_path(@channel.id, @album.id, song.id)}
                            %i.icon-pencil
                          %a.btn.btn-danger{:href => admin_channel_album_song_path(@channel.id, @album.id, song.id), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
                            %i.icon-trash.icon-white
