-#= render 'song_uploader'

-#- if @album.songs.present?
  -#= render 'song_gallery'

- javascript 'admin/musicplayer', 'admin/songs'

:css
  ul#song {
    margin-right: 25px; 
  }
  ul#song li {
    padding: 7px 14px;
    margin: 20px 0;
    list-style: none;
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, white, #f5f5f5);
    background-image: -ms-linear-gradient(top, white, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, white, #f5f5f5);
    background-image: -o-linear-gradient(top, white, #f5f5f5);
    background-image: linear-gradient(top, white, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    font-size: 16px;
    height: 30px;
    font-weight: bold;
  }
  ul#song .handle {
    margin-right: 10px;
  }
  ul#song .handle:hover {
    cursor: move;
  }


.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top Edit #{@channel.name}'s - #{@album.title}
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom
          .row-fluid
            .span4
              .thumbnail{:style => 'margin: 20px 0 0 20px; max-width: 391px; max-height: 320px;'}
                = image_tag @album.image.thumb('391x320#').url
          
            .span8
              .row-fluid
                .span12{:style => 'margin: 20px 20px 0 0;'}
                  %h1 Title
                  %p Description


          .row-fluid
            .span{:style => 'margin: 20px 0;'}
              ------
              %blockquote
                %p
                  Song Uploader widget with multiple file selection, and drag&drop support!

              = form_for Song.new, :url => admin_channel_album_songs_path(@channel, @album), :html => { :multipart => true, :id => "fileupload"  } do |f|
                .row-fluid.fileupload-buttonbar
                  .span
                    %span{class: "btn btn-success fileinput-button"}
                      %i{class: "icon-plus icon-white"}
                      %span 
                        Add files...
                        = f.file_field :song
                    %button{type: "submit", class: "btn btn-primary start"}
                      %i{class: "icon-upload icon-white"}
                      %span Start upload
                    %button{type: "reset", class: "btn btn-warning cancel"}
                      %i{class: "icon-ban-circle icon-white"}
                      %span Cancel upload
                    %button{type: "button", class: "btn btn-danger delete"}
                      %i{class: "icon-trash icon-white"}
                      %span 
                        Delete
                        %input{type: "checkbox", class: "toggle"}
                
                %div{class: "span5"}
                  %div{class: "progress progress-success progress-striped active fade"}
                  %div{class: "bar", style: "width:0%;"}
                %div{class: "fileupload-loading"}
                %br
                %table{class: "table table-striped"}
                  %tbody{:class => "files", "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery"}

              = render partial: '/shared/file_upload/templates'
              %script{src: "http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"}
              %script{src: "http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"}
              = render partial: '/shared/file_upload/script'

              ------


          .row-fluid
            .span
              %ul#song{"data-update-url" => sort_admin_channel_album_songs_url}
                - @songs.each do |song|
                  = content_tag_for :li, song do
                    .span
                      .span9{:style => 'padding-top: 3px;'}
                        = image_tag('admin/sorting-handle.png', :class => 'handle')
                        = link_to '', "#{song.song}", :class => 'sm2_button'
                        %span= song.title
                      .span3
                        .pull-right
                          %a.btn{:href => edit_admin_channel_album_song_path(@channel.id, @album.id, song.id)}
                            %i.icon-pencil
                          %a.btn.btn-danger{:href => admin_channel_album_song_path(@channel.id, @album.id, song.id), :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?')}
                            %i.icon-trash.icon-white

          .row-fluid
            .span12
              .well{:style => 'margin: 0 20px;'}
                %h3 Notes
                %ul
                  %li
                    Only (
                    %strong> mp3
                    ) are allowed.
                  %li
                    You can
                    %strong drag & drop
                    files from your desktop on this webpage with Google Chrome, Mozilla Firefox and Apple Safari.
