/ stats
- javascript 'admin/plugins/excanvas.min', 'admin/plugins/altimarc.charts', 'admin/plugins/jquery.dataTables'

= render 'admin/dashboard/visitor_stats'

.row-fluid
  = render 'admin/dashboard/monthly_stats'
  = render 'admin/dashboard/member_updates'
  = render 'admin/dashboard/member_comments'
.row-fluid
  = render 'admin/dashboard/facebook_stats'
  = render 'admin/dashboard/twitter_stats'
  
:javascript
  $('#datatable').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"
  });