/ stats
- javascript 'admin/plugins/excanvas.min', 'admin/plugins/altimarc.charts', 'admin/plugins/jquery.dataTables'

= render 'visitor_stats'

.row-fluid
  = render 'monthly_stats'
  = render 'member_updates'
  = render 'member_comments'
.row-fluid
  = render 'facebook_stats'
  = render 'twitter_stats'
  
:javascript
  $('#datatable').dataTable( {
    "bJQueryUI": true,
    "sPaginationType": "full_numbers"
  });