.row-fluid
  .span12
    .box.grad_colour_dark_blue
      %h2.box_head.round_top Posts
      %a.settings.box_button_3{:href => "#", :title => "config"}  
      %a.toggle.box_button_2{:href => "#", :title => "toggle"}  
      %a.destroy.box_button_1{:href => "#", :title => "close"}  
      .toggle_container
        .block.box_content.round_bottom.padding_20
          %header
            %h1 Edit Photo
            = simple_form_for [:admin, @channel, @photo_album, @photo], :html => {:multipart => true, :class => 'form-horizontal'} do |f|
              = f.input :title, :input_html => {:class => "input-xlarge"}
              = f.input :image, :as => :file, :label => "Image"
              = image_tag @photo.image.thumb('100x100#').url if @photo.image
              = f.input :description, :input_html => {:class => "input-xlarge"}
              = f.input :active
              = f.input :paid
              .form-actions
                = f.button :submit, :class => 'btn-primary'
                or
                = link_to 'Go Back', url_for(:back), :class => 'btn'
