Gift: #{@description}
Amount: #{@amount}
Name: #{@user.first_name} #{@user.last_name}
Email: #{@user.email}
Address: #{@user.address.address}
Address2: #{@user.address.address2}
City: #{@user.address.city}
State #{@user.address.state}
Zip Code: #{@user.address.zip_code}