=javascript_include_tag "https://js.stripe.com/v1/", "plugins/stripe"

:css
  .info {
    background: #FFC;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .info p {
    margin: 15px 20px;
    line-height: 1.3em;
  }
  .coupon_link {
    padding: 20px 0;
  }
  .payment_banner {
    margin: 0 -20px 0 -20px;
  }

= image_tag('aliveatbrushy-payment-banner.jpg', :class => 'payment_banner')

#plan
  .row-fluid{:style => 'margin-top: 20px;'}
    .span12
      .widget
        .widget-header
          %i.icon-th-large
          %h3 Your Options
      .row-fluid
        .span12
          %blockquote
            %p As a member you will have access to all Channels, live streaming concerts, prizes, and once in life time oppurtunities.
          .widget-content
            .span3
              = render 'basic'
            .span3
              = render 'starter'
            .span3
              = render 'vinyle'
            .span3
              = render 'everything'

  .row-fluid{:style => 'margin-top: 20px;'}
    .span12
      //info
      .span1
      .info.span10
        %p
          %strong Your Altimarc billing cycle will be on
          %strong= @trail_end_time.strftime("%m-%d-%y")
          If you don't want to continue using Altimarc, just cancel before your billing cycle ends and you won't be charged. Otherwise, you'll pay just $6.95/month for the service as long as your account is open. You can cancel any time.
      .span1
#payment

