= javascript_include_tag "https://js.stripe.com/v1/"
= javascript_include_tag "plugins/stripe"

:css
  .info {
    background: #FFC;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .info p {
    margin: 15px 20px;
    line-height: 1.3em;
  }
  .coupon_link {
    padding: 20px 0;
  }

  .modal-backdrop {
    display: none;
  }

.row-fluid
  .span
    - if current_channel && current_channel.id == 2
      = image_tag('aliveatbrushy-payment-banner.jpg', :class => 'payment_banner')
    - else
      = image_tag('fatherofrocknroll-payment-banner.jpg', :class => 'payment_banner')


.content-border
  = simple_form_for(current_user, :url => create_subscribe_user_path, :html => {:class => 'form-horizontal', :id => 'subscribe_user'}) do |f|
    = f.error_notification

    .stripe_error.error_explanation
      %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

    - unless current_user.plan
      #plan
        .row-fluid{:style => 'margin-top: 20px;'}
          .span12
            .widget
              .widget-header
                %i.icon-th-large
                %h3 Your Options
            .row-fluid
              .span12
                %blockquote
                  %p As a member you will have access to all Channels, live streaming concerts, prizes, and once in life time oppurtunities.
                .widget-content
                  - if current_channel && current_channel.id == 2
                    .span3
                      = render 'basic'
                    .span3
                      = render 'starter'
                    .span3
                      = render 'vinyle'
                    .span3
                      = render 'everything'
                  - else
                    .span3
                      = render 'sam_basic'


        .row-fluid{:style => 'margin: 20px 0 60px;'}
          .span12
            //info
            .span1
            .info.span10
              %p
                %strong Your Altimarc billing cycle will be on
                %strong= @trail_end_time.strftime("%m-%d-%y")
                If you don't want to continue using Altimarc, just cancel before your billing cycle ends and you won't be charged. Otherwise, you'll pay just $6.95/month for the service as long as your account is open. You can cancel any time.
            .span1
          .row-fluid{:style => 'margin-top: 20px'}
            .span12
              %p{:style => "text-align: center; margin-top: 20px;"}= link_to "Get A Free Preview", preview_user_path, :method => :post
    #payment
      .row-fluid{:style => 'margin-top: 20px;'}
        .span12
          %h2.heading_blue You're just 60 seconds away from your new Altimarc account.
          .row-fluid
            .payment.span
              .control-group.credit_card
                .span5
                  %label.control-label{:for => "credit_card"} Credit Card
                  .controls
                    %input#card_number.input-large{:type => "text"}
            .row-fluid
              .span{:style => 'margin: 0px 0 25px 159px;'}
                = image_tag('payments/img-creditcards.png')

              .control-group.security_code
                %label.control-label{:for => "security_code"} Security Code on Card (CVV)
                .controls
                  %input#security_code.input-small{:type => "text", :size => '4', :maxlength => '4'}
              .control-group.card_expiration 
                %label.control-label{:for => "card_month"} Card Expiration
                .controls
                  = select_month nil, {add_month_numbers: true, :use_short_month => true}, {name: nil, id: "card_month", :class => 'input-small'}
                  = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => 'input-small'}

              = f.hidden_field :stripe_card_token
              = f.hidden_field :plan
    #address
      .row-fluid
        = f.fields_for :address, current_user.build_address do |a|
          .control-group.address
            %label.control-label{:for => "user_address_address"} Address
            .controls
              = a.text_field :address
          .control-group.address2
            %label.control-label{:for => "user_address_address"} Address 2
            .controls
              = a.text_field :address2
          .control-group.city
            %label.control-label{:for => "user_address_city"} City
            .controls
              = a.text_field :city
          .control-group.state
            %label.control-label{:for => "user_address_city"} State
            .controls
              = a.select :state, us_states
          .control-group.zip_code
            %label.control-label{:for => "user_address_zip_code"} Zip Code
            .controls
              = a.text_field :zip_code         
        
    #actions
      %hr
      -#//coupon
      .row-fluid
        .span
          = link_to "Got a Coupon Code?", "javascript:;", :id => "coupon_link"
          .control-group#coupon_code
            %label.control-label{:for => "input01"} Coupon Code
            .controls
              %input#input01.input-small{:type => "text"}

      .form-actions{:style => "background: none;"}
        = f.submit "Create my account", :class => 'btn-primary btn-success btn-large'

      .row-fluid
        .span{:style => 'margin-left: 159px;'}
          %p
            By clicking Create my account you agree to the
            = link_to "Terms of Service,", terms_url(:subdomain => "www")
            = link_to "Privacy,", privacy_url(:subdomain => "www")
            %span and
            = succeed "." do
              = link_to "Refund policies", refund_url(:subdomain => "www")

