- title "Sign up with Email"

.row
  .span6#forgot_email
    .overlay
      .overlay-inside
        = image_tag('logo-login.png', :class => 'logo')
        %p Entertainment and once in a life time opportunities!
        .row
          .span6#form
            %h2 Forgot your password?
            = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => 'well'}) do |f|
              = devise_error_messages!
              = f.input :email, :required => true, :label => false, :placeholder => 'Email'
              = f.submit "Send", :class => 'btn btn-primary'
        .row
          .span#other_links
            %p
              = link_to "Sign In with Facebook", login_url, :id => "with_facebook_link", :class => "pjax"
            %p
              = link_to "Sign up with email", signup_url, :id => "with_email_link", :class => "pjax"



.row
  .span6#facebook_photos
    .fb-facepile{"data-href" => "http://facebook.com/altimarc", "data-max-rows" => "1", "data-width" => "448", "data-colorscheme" => "dark"}
