- javascript 'frontend/plugins/html5video'

- @video.sources.each_with_index do |source, index|
  #{index}: {src: "#{source[:src]}", type: "#{source[:type]}"}
  %br

//// each line needs a , unless its the last line
/ #{@video.sources.each_with_index do |source, index| = #{index}: {src: "#{source[:src]}", type: "#{source[:type]}"}}


#video{:style => 'background: #0c0c0c;'}
  #player_a.projekktor
  
:javascript
  $(document).ready(function() {
    var player = projekktor('.projekktor', {
    	width: 640,
    	height: 433,
    	poster: "#{@video.image.url}",
    	controls: true,
    	playlist: [
        {
          0: {src:'http://www.projekktor.com/content/demos/slideshow/html5-Logo.jpg', type:"image/jpeg"},
          config:{
            duration: 5
        }
        },
        {
        
        },
        {
          0: {src:'http://www.projekktor.com/content/demos/slideshow/image1.png', type:"image/png"},
          config:{
            duration: 5
        }
        }
    	]
    });
  });