- title @channel.name + " - " + @video.title

- content_for :open_graph do
  %meta{property: "og:title", content: @video.title}
  %meta{property: "og:type", content: "video.other"}
  %meta{property: "og:url",  content: video_url(@video)}
  %meta{property: "og:image",content: @video.image.url(:host => "http://#{request.host}")}
  %meta{property: "og:site_name", content: "Altimarc"}

.content-border
  .row-fluid
    .span
      .videoplayer
        .projekktor_background
          #video
          #player
            %video.projekktor{:controls => "", :poster => "#{@video.image.url}", :title => @video.title}
              - if current_user && current_user.paid_member?
                - @video.sources.each do |source|
                  %source{:src => "#{source[:src]}", :type => source[:type]}
              - else
                - @video.video_preview.sources.each do |source|
                  %source{:src => "#{source[:src]}", :type => source[:type]}
        #video_info{:style => 'max-width: 940px; margin: 0 auto;'}
          .row-fluid#video_info_inside
            .span12
              .row-fluid
                .span8
                  %h2
                    = link_to @channel.name, channel_url(@channel)
                    %span - 
                    = @video.title
                  %ul#video_social_sharing
                    -#%li= link_to "Facebook", "#"
                    -#%li= link_to "Tweet", "#"
                    -#TODO: Add share by email function 
                    -#%li= link_to "Share", "#"
                    %li= link_to "Details", "#", :id => "details_link", :class => 'disable-pjax'
                .span4.pull-right
                  #small_ad.pull-right
                    = image_tag('ads/sample-ad.png')
          #details.row
            .span
              %p= @video.description
      

  .row-fluid
    .span8
      %h2.heading All Webisodes
      #all_videos.carousel.slide
      - @videos.each_slice(4) do |videos|
        .item{class: carousel_class(@videos, videos)}
          %ul.thumbnails
            - videos.each do |video|
              %li.span3
                .thumbnail
                  %img{:alt => "", :src => video.image.thumb('260x180').url}
                    .caption
                      %h5= video.title.truncate(30)                    
                      %p
                        - if video.publish_on < Time.now
                          - if user_signed_in? && current_user.paid_member?
                            = link_with_icon("Watch", video_path(video), "icon-film icon-white", "connected btn btn-success")
                          - else
                            = link_with_icon("Free Trailer", video_path(video), "icon-film icon-white", "connected btn btn-success")
                        - else
                          = link_with_icon("Coming Soon", "#", "icon-film icon-white", "btn btn-inverse")


    .span4
      .rightsidebar
        .row-fluid
          .span
            %h1.heading= @channel.name
            #description.span
              %p= @channel.description
            = render 'channels/social_media'
          - if @featured_album
            .row-fluid
              .span
                %h2.heading Featured Album
                = render 'channels/featured_album'
          .row-fluid
            .span
              %h2.heading Featured Sponsor
              .thumbnail
                = link_to image_tag('layout/ad-holder.png'), altimarc_for_your_business_url


:javascript
  $(document).ready(function() {
    var player = projekktor('.projekktor', {
      poster: "#{@video.image.url}",
      controls: true,
      autoplay: true,
      enableFullScreen: true,
      playerFlashMP4: 'http://www.altimarc.com/jarisplayer.swf',
      plugin_display: {
        logoImage: "../../../../assets/html5video/logo.png",
        logoPosition: "tr"
      };
    });
  });
