- title @channel.name + " - " + @video.title

- content_for :open_graph do
  %meta{property: "og:title", content: @video.title}
  %meta{property: "og:type", content: "video.other"}
  %meta{property: "og:url",  content: channel_video_url(@channel, @video)}
  %meta{property: "og:image",content: @video.image.url(:host => "http://#{request.host}")}
  %meta{property: "og:site_name", content: "Altimarc"}
  %meta{property: "og:description", content: @video.description}

.videoplayer
  #video
  #player
    .projekktor
  #video_info.container
    %h2= @channel.name + ' - ' + @video.title
    %ul#video_social_sharing
      %li= link_to "Facebook", "#"
      %li= link_to "Tweet", "#"
      -#TODO: Add share by email function 
      -#%li= link_to "Share", "#"
      %li= link_to "Details", "#", :id => "details_link"
    #details
      .row
        .span
          %p= @video.description

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .content
    .container
      %h3 All Episodes
      #all_videos.carousel.slide
        / Carousel items
        .carousel-inner
          .item
            %ul.thumbnails
              - @videos.each do |video|
                %li.span3
                  .thumbnail
                    = image_tag(video.image.thumb('260x180#').url)
                    .caption
                      %h5= video.title.truncate(30)
                      %p.description= video.description.truncate(125)
                      %p
                        = link_with_icon("Watch", channel_video_url(@channel, video), "icon-film icon-white", "btn btn-info pjax")

- javascript 'frontend/plugins/html5video'

:javascript
  $(document).ready(function() {

    $('#details').hide();
    $('#details_link').click(function () {
      $('#details').toggle();
    });

    var player = projekktor('.projekktor', {
    	width: 896,
    	height: 504,
    	poster: "#{@video.image.url}",
      controls: true,
      plugin_display: {
        logoImage:"assets/html5video/logo.png"
       },
    	playlist: [
        {
          0: {src:'http://www.projekktor.com/content/demos/slideshow/html5-Logo.jpg', type:"image/jpeg"},
          config:{
            duration: 5
          }
        },
        {
          #{raw video_playlist(@video.sources)}
        },
        {
          0: {src:'http://www.projekktor.com/content/demos/slideshow/image1.png', type:"image/png"},
          config:{
            duration: 5
          }
        }
    	]
    });
  });
