.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Altimarc", root_path, :class => "brand"
      .nav-collapse
        %ul.nav
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown"}
              Channels
              %b.caret
            %ul.dropdown-menu
              - if @channels.present?
                - @channels.each do |channel|
                  %li= link_to channel.name, channel
              - else
                %li= link_to "NO CHANNELS", admin_root_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown"}
              Games
              %b.caret
            %ul.dropdown-menu
              - if @channels.present?
                - @channels.each do |channel|
                  %li= link_to channel.name, channel
              - else
                %li= link_to "NO GAMES", admin_root_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown"}
              Giveaways
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Kentucky Derby", derby_path
              %li= link_to "CMA FanFest", cma_path
          - unless user_signed_in?
            %li= link_to "Signup and Pricing", "#", :class => "signup"
        %ul.nav.pull-right
          - if user_signed_in?
            %li
              = link_to('Edit account', edit_user_registration_path)
            %li
              = link_to('Logout', logout_path, :method=>'delete')
          - else
            %li
              = link_to('Login', login_path)

