= javascript_include_tag "https://js.stripe.com/v1/", "frontend/registrations"

#payments.modal.hide{:style => "display: none;"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Become a Paid Member!
  .modal-body
    .thank_you{:style => "display: none;"}
      %h3 Thanks for paying. Your hard earned money goes towards making Altimarc an even better product.
    .row.payment_form
      %h4 Paid Members gets access to everything.
      %p More info about everything.

      = simple_form_for(current_user, :url => subscribe_user_path, :html => {:class => 'form-horizontal', :id => 'subscribe_user'}) do |f|
        = f.error_notification
     
        .stripe_error.error_explanation
          %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
          .payment.span
            .control-group.plans
              = f.input :plan, :collection => ["Basic", "Plus", "Premium"]
            
            .control-group.credit_card
              %label.control-label{:for => "credit_card"} Credit Card
              .controls
                %input#card_number.input-large{:type => "text"}
              .span
                = image_tag('payments/icon-lock.png')
              %strong Secure
              = image_tag('payments/img-creditcards.png')
     
            .control-group.security_code
              %label.control-label{:for => "security_code"} Security Code on Card (CVV)
              .controls
                %input#security_code.input-small{:type => "text", :size => '4', :maxlength => '4'}
            .control-group.card_expiration 
              %label.control-label{:for => "card_month"} Card Expiration
              .controls
                = select_month nil, {add_month_numbers: true, :use_short_month => true}, {name: nil, id: "card_month", :class => 'input-small'}
                = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", :class => 'input-small'}
     
            = f.hidden_field :stripe_card_token
     
          -#//coupon
          -#.coupon.span
            -#= link_to "Got a Coupon Code?", "javascript:;", :id => "coupon_link"
            -#.control-group#coupon_code
              -#%label.control-label{:for => "input01"} Coupon Code
              -#.controls
                -#%input#input01.input-small{:type => "text"}
     
     
          -#//info
          -#.info.span
            -#%p
              -#%strong Your 24-hour free trial lasts until
              -#- trail_end_time = Time.now + 1.days
              -#%strong= trail_end_time.strftime("%I:%M%p %m-%d-%y")
              -#If you don't want to continue using Altimarc, just cancel before the trial ends and you won't be charged. Otherwise, you'll pay just $9.95/month for the service as long as your account is open. You can cancel any time.
     
          -#//policy
          -#.policy.span
          .row
            .span
              %p
                By clicking Create my account you agree to the
                = link_to "Terms of Service,", terms_url(:subdomain => "www")
                = link_to "Privacy,", privacy_url(:subdomain => "www")
                %span and
                = succeed "." do
                  - link_to "Refund policies", refund_url(:subdomain => "www")


        .modal-footer
          = f.submit "Create my account", :class => 'btn-primary btn-success btn-large'

