- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

:css
  #channels p {
    color: black;
    padding-top: 10px;
  }

:javascript
  $(document).ready(function() {
    $('.featured-popover').popover({trigger: 'hover', placement: 'top', selector: 'img'});
  });


- unless current_user.present? && current_user.paid_member?
  #intro.row-fluid
    .span12{:style => 'text-align: center; margin: 0 0 40px;'}
      %h1 Digital Entertainment Network
      %h2 Starting at $6.95/month
      = link_to "Join Now", subscribe_user_url(:subdomain => 'www'), :class => 'btn btn-large btn-success'

#channels.row-fluid
  .span2
    %a{:href => root_url(:subdomain => 'aliveatbrushy')}
      .thumbnail
        = image_tag @aliveatbrushy.banner_image.thumb('222x175#').url, :style => 'width: 222px; height: 175px;' if @aliveatbrushy.banner_image_uid
        %p= @aliveatbrushy.name
        
  .span2
    %a{:href => "#coming-soon", :class => 'coming_soon'}
      .thumbnail
        = image_tag @randyowen.banner_image.thumb('222x175#').url, :style => 'width: 222px; height: 175px;' if @randyowen.banner_image_uid
        %p= @randyowen.name
  .span2
    %a{:href => root_url(:subdomain => 'fatherofrocknroll')}
      .thumbnail
        = image_tag @samphillips.banner_image.thumb('222x175#').url, :style => 'width: 222px; height: 175px;' if @samphillips.banner_image_uid
        %p= @samphillips.name
  .span2
    %a{:href => "#coming-soon", :class => 'coming_soon'}
      .thumbnail
        = image_tag 'rock-pop.jpg', :style => 'width: 222px; height: 175px;'
        %p Rock/Pop

  .span2
    %a{:href => "#coming-soon", :class => 'coming_soon'}
      .thumbnail
        = image_tag 'live-concerts.jpg', :style => 'width: 222px; height: 175px;'
        %p Live Concerts
  .span2
    %a{:href => "#coming-soon", :class => 'coming_soon'}
      .thumbnail
        = image_tag 'young-guns.jpg', :style => 'width: 222px; height: 175px;'        
        %p Young Guns of Country

#featured.row-fluid{:style => 'margin: 60px 0;'}
  .span3
    %a.featured-popover{:href => root_url(:subdomain => "#{@featured_channel.subdomain}"), "data-content" =>  "#{@featured_channel.name}", :rel => "popover"}
      = image_tag(@featured_channel.banner_image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Channel")

  .span3
    %a.featured-popover{:href => song_url(@featured_song), "data-content" =>  "#{@featured_song.title}", :rel => "popover"}
      = image_tag(@featured_song.album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Song", )

  .span3
    %a.featured-popover{:href => video_url(@featured_video, :host => "#{@featured_video.channel.subdomain}.#{APP_CONFIG['domain']}"), "data-content" =>  "#{@featured_video.title}", :rel => "popover"}
      = image_tag(@featured_video.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Video")

  .span3
    %a.featured-popover{:href => album_url(@featured_album, :host => "#{@featured_album.channel.subdomain}.#{APP_CONFIG['domain']}"), "data-content" =>  "#{@featured_album.title}", :rel => "popover"}
      = image_tag(@featured_album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Album")


