- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

= render 'home/carousel'
= render 'home/quote'
= render 'home/new'
= render 'home/music'
= render 'home/videos'

:javascript
  $(function(){
  	$('.slidedeck').slidedeck({
  		autoPlay: true,
  		cycle: true,
  		autoPlayInterval: 6000,
  		index: false,
  		slideTransition: 'slide',
  		scroll: false
  	});
  });


/ .slider-wrapper.theme-default
/   .ribbon
/   #slider.nivoSlider
/     - @channels.each do |channel|
/       = link_to image_tag(channel.banner_image.url), root_url(subdomain: channel.subdomain) if channel.banner_image 
/ .row
/   .span12
/     %h1 Welcome to Altimarc...
/ 
/ .row
/   .span7
/     %h2 Top Video's
/   
/ 
/   .span7
/     %h3 What's New
/     - @channels.each do |channel|
/       %ul
/         %li
/           = link_to image_tag(channel.banner_image.thumb('301x170#').url), root_url(subdomain: channel.subdomain) if channel.banner_image
/           %p
/             %strong= channel.name
/           %p= truncate(channel.description, :length => 80, :omission =>  "...")
/ 
/ .row
/   .span3
/     %h3 Top Songs:
/     / - @songs.each do |song|
/     /   %ul
/     /     %li= link_to song.title, root_url(subdomain: channel.subdomain)
/   .span3
/     %h3 Top Albums: