- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

- if @active_channels > 1
  = render 'home/carousel'
  = render 'home/quote'
  = render 'home/new'
  = render 'shared/music/latest'
  = render 'shared/videos/latest'
- else
  .span
    #slideshow.nivoSlider
      - @channels.each do |channel|
        - if channel.active?
          = link_to image_tag(channel.banner_image.thumb('1600x505#').url), root_url(subdomain: channel.subdomain) if channel.banner_image
        - else
          = link_to image_tag(channel.banner_image.thumb('1600x505#').url), "#coming-soon!" if channel.banner_image
    -#= link_to image_tag('alive-at-brushy.jpg', :class => 'intro-photo'), root_url(:subdomain => "aliveatbrushy")
  -#= render 'home/quote'
.row-fluid{:style => 'margin-top: 40px;'}
  .span4
    %h3.heading Featured Video
    .thumbnail
      %img{:alt => "", :src => "http://placehold.it/488x294"}
        .caption
          %h5 title
          %p description
          = link_with_icon("Watch Free Trailer", "#", "icon-film icon-white", "btn btn-success btn-large")
          
  .span4
    %h3.heading Featured Song
    .thumbnail
      %img{:alt => "", :src => "http://placehold.it/488x294"}
        .caption
          %h5 title
          %p description
          = link_with_icon("Listen Free Preview", "#", "icon-film icon-white", "btn btn-success btn-large")

  .span4
    %h3.heading Featured Album
    .thumbnail
      %img{:alt => "", :src => "http://placehold.it/488x294"}
        .caption
          %h5 title
          %p description
          = link_with_icon("Listen Free Preview", "#", "icon-film icon-white", "btn btn-success btn-large")
