- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

.row-fluid
  .span
    #homeSlider.carousel.slide
      .carousel-inner
        - @channels.each do |channel|
          - if channel.active?
            .item.active
              = link_to image_tag(channel.banner_image.url), root_url(subdomain: channel.subdomain) if channel.banner_image
          - else
            .item
              = link_to image_tag(channel.banner_image.url), "#coming-soon!", :class => "coming_soon" if channel.banner_image
      %a.carousel-control.left{"data-slide" => "prev", :href => "#homeSlider"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#homeSlider"} ›

.row-fluid{:style => 'margin-top: 40px;'}
  .span4
    %h3.heading_blue Featured Video
    .thumbnail
      %img{:alt => "", :src => @featured_video.image.thumb('488x294#').url}
        .caption
          %h5= @featured_video.title
          %br
          - if user_signed_in? && current_user.paid_member?
            = link_with_icon("Watch", video_url(@featured_video, :host => "#{@featured_video.channel.subdomain}.#{APP_CONFIG['domain']}"), "icon-film icon-white", "connected btn btn-success btn-large")
          - else
            = link_with_icon("Free Trailer", video_url(@featured_video, :host => "#{@featured_video.channel.subdomain}.#{APP_CONFIG['domain']}"), "icon-film icon-white", "connected btn btn-success btn-large")
          
  .span4
    %h3.heading_blue Featured Song
    .thumbnail
      %img{:alt => "", :src => @featured_song.album.image.thumb('488x294#').url}
        .caption
          %h5= @featured_song.title
          %br
          - if user_signed_in? && current_user.paid_member?
            = link_with_icon("Listen", song_url(@featured_song), "icon-play icon-white", "connected btn btn-success btn-large",  {:class => "play", :id => "play-#{@featured_song.id}", "data-song" => @featured_song.id})
          - else
            = link_with_icon("Free Preview", song_url(@featured_song), "icon-play icon-white", "connected btn btn-success btn-large",  {:class => "play", :id => "play-#{@featured_song.id}", "data-song" => @featured_song.id})

  .span4
    %h3.heading_blue Featured Album
    .thumbnail
      %img{:alt => "", :src => @featured_album.image.thumb('488x294#').url}
        .caption
          %h5= @featured_album.title
          %br
          - if user_signed_in? && current_user.paid_member?
            = link_with_icon("Listen", album_url(@featured_album, :host => "#{@featured_video.channel.subdomain}.#{APP_CONFIG['domain']}" ), "icon-play icon-white", "btn btn-success btn-large")            
          - else
            = link_with_icon("Free Preview", album_url(@featured_album, :host => "#{@featured_video.channel.subdomain}.#{APP_CONFIG['domain']}" ), "icon-play icon-white", "btn btn-success btn-large")
