- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, giveaways, music givaways, celebrities giveaways, alive at brushy, aliveatbrushy, mark collie, sam phillips, father of rocknroll"
- @description = "Webisodes, Music, Videos, and Live Entertainment from your favorite celebrities!"

.content-wrapper
  - unless current_user.present? && current_user.paid_member?
    #intro.row-fluid
      .span12{:style => 'text-align: center; margin: 0 0 40px;'}
        %h1 Digital Entertainment Network
        %h2.animated.bounceIn Starting at $6.95/month
        - if current_user.present?
          = link_to "Subscribe Now", subscribe_user_url(:subdomain => 'www'), :class => 'btn btn-large btn-success'
        - else
          = link_to "Join Now", join_url(:subdomain => 'www'), :class => 'btn btn-large btn-success'

  = render 'home/tickets'

  %hr

  .row-fluid
    .span{:style => 'text-align: center;'}
      %h3 Featured Channel
  .row-fluid
    .span
      %a{:href => root_url(:subdomain => @featured_channel.subdomain)}
        = image_tag(@featured_channel.banner_image.url, :class => 'img-rounded img-polaroid')
  %hr

  .row-fluid.featured
    .span4
      %a{:href => album_song_url(@featured_album, @featured_song)}
        = image_tag(@featured_song.album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid')
        %h4 Featured Song
        %p= @featured_song.title

    .span4
      %a{:href => video_url(@featured_video, :subdomain => @featured_video.channel.subdomain)}
        = image_tag(@featured_video.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid')
        %h4 Featured Video
        %p= @featured_video.title
    .span4
      %a.featured-popover{:href => album_url(@featured_album, :subdomain => @featured_album.channel.subdomain)}
        = image_tag(@featured_album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid')
        %h4 Featured Album
        %p= @featured_album.title
  -#%hr
  -#.row-fluid
    -#.span{:style => 'text-align: center;'}
      -#%h3 Featured Giveaway

