- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

:css
  #channels p {
    color: black;
    padding-top: 10px;
  }
  .ticket {
    height: 600px;
    background: white;
  }
  .ticket-inside {
    padding: 10px;
  }
  .ticket-border {
    border: 2px solid #ddd;
    padding: 5px;
    height: 550px;
  }
  .ticket-top {
    width: 100%;
    height: 40px;
  }
  

:javascript
  $(document).ready(function() {
    $('.featured-popover').popover({trigger: 'hover', placement: 'top', selector: 'img'});
  });


- unless current_user.present? && current_user.paid_member?
  #intro.row-fluid
    .span12{:style => 'text-align: center; margin: 0 0 40px;'}
      %h1 Digital Entertainment Network
      %h2.animated.bounceIn Starting at $6.95/month
      = link_to "Join Now", subscribe_user_url(:subdomain => 'www'), :class => 'btn btn-large btn-success'

.row-fluid
  %ul.thumbnails
    %li.span3
      %a{:href => root_url(:subdomain => 'aliveatbrushy')}
        = image_tag 'ticket-top.png', :class => 'ticket-top'
        .ticket
          .ticket-inside
            .ticket-border
              = image_tag @aliveatbrushy.banner_image.url if @aliveatbrushy.banner_image_uid
              %p= @aliveatbrushy.name

    %li.span3
      %a{:href => root_url(:subdomain => 'fatherofrocknroll')}
        = image_tag 'ticket-top.png', :class => 'ticket-top'
        .ticket
          .ticket-inside
            .ticket-border
              = image_tag @samphillips.banner_image.thumb('260x180#').url if @samphillips.banner_image_uid
              %p= @samphillips.name

    %li.span3.ticket
      %a{:href => "#coming-soon", :class => 'coming_soon'}
        .thumbnail
          = image_tag 'live-concerts.jpg', :style => 'width: 260px; height: 180px;'
          %p Live Concerts
    %li.span3.ticket
      %a{:href => "#coming-soon", :class => 'coming_soon'}
        .thumbnail
          = image_tag 'young-guns.jpg', :style => 'width: 260px; height: 180px;'        
          %p Young Guns of Country

%hr

.row-fluid
  .span{:style => 'text-align: center;'}
    %h3 Featured Channel
    %h4= @featured_channel.name
    
.row-fluid
  .span
    %a{:href => root_url(:subdomain => "#{@featured_channel.subdomain}")}
      = image_tag(@featured_channel.banner_image.url, :class => 'img-rounded img-polaroid')
%hr

.row
  .span6
    %a.featured-popover{:href =>  album_song_url(@featured_album, @featured_song), "data-content" =>  "#{@featured_song.title}", :rel => "popover"}
      = image_tag(@featured_song.album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Song", )

  .span6
    %a.featured-popover{:href => video_url(@featured_video, :host => "#{@featured_video.channel.subdomain}.#{APP_CONFIG['domain']}"), "data-content" =>  "#{@featured_video.title}", :rel => "popover"}
      = image_tag(@featured_video.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Video")

  .span6
    %a.featured-popover{:href => album_url(@featured_album, :host => "#{@featured_album.channel.subdomain}.#{APP_CONFIG['domain']}"), "data-content" =>  "#{@featured_album.title}", :rel => "popover"}
      = image_tag(@featured_album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid', "data-original-title" => "Featured Album")


