- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

- if @active_channels > 1
  = render 'home/carousel'
  = render 'home/quote'
  = render 'home/new'
  = render 'shared/music/latest'
  = render 'shared/videos/latest'
- else
  .span
    #slider.nivoSlider
      - @channels.each do |channel|
        - if channel.active?
          = link_to image_tag(channel.banner_image.thumb('1600x505#').url), root_url(subdomain: channel.subdomain) if channel.banner_image
        - else
          = link_to image_tag(channel.banner_image.thumb('1600x505#').url), "#coming-soon!" if channel.banner_image
    -#= link_to image_tag('alive-at-brushy.jpg', :class => 'intro-photo'), root_url(:subdomain => "aliveatbrushy")
  = render 'home/quote'
