- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"

:css
  #channels p {
    color: black;
    padding-top: 10px;
  }
  .ticket {
    background: white;
    max-height: 700px;
    min-height: 300px;
    height: 100%;

  }
  @media (max-width: 750px) {
    .thumbnails {
      margin: 20px 40px;
      padding-left: 40px;
    }
  }
  @media (min-width: 900px) {
    .ticket {
      height: 500px !important;
    }
    .ticket-border {
      height: 470px !important;
    }
  }
  .ticket-inside {
    padding: 10px;
  }
  .ticket-inside h3 {
    text-align: center;
    margin-top: 20px;
  }
  .ticket-border {
    border: 2px solid #ddd;
    padding: 5px;
    max-height: 670px;
    min-height: 270px;
    height: 100%;
  }
  .ticket-top, .ticket-bottom {
    width: 100%;
    height: 40px;
  }
  .featured {
    text-align: center;
  }

:javascript
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 5000
    });
  });


- unless current_user.present? && current_user.paid_member?
  #intro.row-fluid
    .span12{:style => 'text-align: center; margin: 0 0 40px;'}
      %h1 Digital Entertainment Network
      %h2.animated.bounceIn Starting at $6.95/month
      = link_to "Join Now", subscribe_user_url(:subdomain => 'www'), :class => 'btn btn-large btn-success'

.row-fluid
  %ul.thumbnails
    - @channels.each do |channel|
      - if channel.active?
        %li.span3
          %a{:href => root_url(:subdomain => channel.subdomain)}
            = image_tag 'ticket-top.png', :class => 'ticket-top'
            .ticket
              .ticket-inside
                .ticket-border
                  .carousel.slide{:id => "ticketSlider-#{channel.id}"}
                    .carousel-inner
                      - channel.photos.each do |photo, index|
                        .item
                          = image_tag photo.image.thumb('750x500#').url, :title => photo.title
                    %h3= channel.name

            = image_tag 'ticket-bottom.png', :class => 'ticket-bottom'
      - else
        %li.span3
          %a.coming_soon{:href => "#coming-soon"}
            = image_tag 'ticket-top.png', :class => 'ticket-top'
            .ticket
              .ticket-inside
                .ticket-border
                  .carousel.slide{:id => "ticketSlider-#{channel.id}"}
                    .carousel-inner
                      - channel.photos.each do |photo, index|
                        .item
                          = image_tag photo.image.thumb('750x500#').url, :title => photo.title
                    %h3= channel.name

            = image_tag 'ticket-bottom.png', :class => 'ticket-bottom'




    -#%li.span3
      -#%a{:href => "#coming-soon", :class => 'coming_soon'}
        -#= image_tag 'ticket-top.png', :class => 'ticket-top'
        -#.ticket
          -#.ticket-inside
            -#.ticket-border
              -#= image_tag 'live-concerts.jpg', :style => 'max-width: 750px; max-height: 500px; min-width: 100px; width: 100%;'
              -#%p Live Concerts
        -#= image_tag 'ticket-bottom.png', :class => 'ticket-bottom'

    -#%li.span3
      -#%a{:href => "#coming-soon", :class => 'coming_soon'}
        -#= image_tag 'ticket-top.png', :class => 'ticket-top'
        -#.ticket
          -#.ticket-inside
            -#.ticket-border
              -#= image_tag 'young-guns.jpg', :style => 'max-width: 750px; max-height: 500px; min-width: 100px; width: 100%;'
              -#%p Young Guns of Country
        -#= image_tag 'ticket-bottom.png', :class => 'ticket-bottom'

%hr

.row-fluid
  .span{:style => 'text-align: center;'}
    %h3 Featured Channel
.row-fluid
  .span
    %a{:href => root_url(:subdomain => @featured_channel.subdomain)}
      = image_tag(@featured_channel.banner_image.url, :class => 'img-rounded img-polaroid')
%hr

.row-fluid.featured
  .span4
    %a{:href => album_song_url(@featured_album, @featured_song)}
      = image_tag(@featured_song.album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid')
      %h4 Featured Song
      %p= @featured_song.title

  .span4
    %a{:href => video_url(@featured_video, :subdomain => @featured_video.channel.subdomain)}
      = image_tag(@featured_video.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid')
      %h4 Featured Video
      %p= @featured_video.title
  .span4
    %a.featured-popover{:href => album_url(@featured_album, :subdomain => @featured_album.channel.subdomain)}
      = image_tag(@featured_album.image.thumb('753x592#').url, :class => 'img-rounded img-polaroid')
      %h4 Featured Album
      %p= @featured_album.title
-#%hr
-#.row-fluid
  -#.span{:style => 'text-align: center;'}
    -#%h3 Featured Giveaway

