- @keywords = "music, music channels, music tv, watch live, live video production, stream music online, music broadcast, country music, music downloads, music videos, online music, games, free online games, free games, online games, video games, powerball, powerball numbers, powerball winning numbers"
- @description = "Entertainment, Games, and once in a life time opportunities to meet celebrities. Join today!"
- javascript "home"

.div{ :style => "height: 645px;" }
  = image_tag('randy-owen-giveaway-altimarc.png')

%h1{ :style => 'text-align: center; margin: 20px 0; color: #3366FF;'} 
  Randy's ready to meet you at the Kentucky Derby!
  %br
  You can also register to win a trip to Fan Fest!
.channel
  .mosaic-block.fader
    %a.mosaic-overlay{:href => "/kentucky-derby-with-randy-owen"}
      .details
        %h1{ :style => 'text-align: center; margin: 80px 0 0; color: black;' } CLICK HERE TO REGISTER AND WIN!
    .mosaic-backdrop
      = image_tag('derby.jpg')
  %h2{ :style => 'text-align: center; color: red;' }
    Kentucky Derby
  %p{:style => "text-align: center; font-weight: bold;"} May 4-6

.channel
  .mosaic-block.fader
    %a.mosaic-overlay{:href => "/cma-fanfest-with-randy-owen"}
      .details
        %h1{ :style => 'text-align: center; margin: 80px 0 0; color: black;' } CLICK HERE TO REGISTER AND WIN!
    .mosaic-backdrop
      = image_tag('cma.jpg')
  %h2{ :style => 'text-align: center; color: red;' }
    CMA Music Fest
  %p{:style => "text-align: center; font-weight: bold;"} June 8-10
.social{:style => "margin: 20px 20px; width: 960; float: left; border-top: 2px solid #eee; padding: 30px 0 20px;"}
  .span4{:style => "margin-left: 0;"}
    = link_to image_tag("replay-coming-soon-video.png"), randy_owen_video_url(:subdomain => "www")
  .span4
    = image_tag('twitter-icon.png')
    .tweet
    %div{:style => "margin-left: 60px;"}
      %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large", :href => "https://twitter.com/altimarc"} Follow @altimarc
  .span4
    .fb-like-box{"data-header" => "false", "data-href" => "http://www.facebook.com/altimarc", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "292"}



= image_tag('chips.png', :style => "margin-bottom: -4px;")

= javascript_include_tag "video_effect", "plugins/twitter"

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  $(document).ready(function() {
    $(".tweet").tweet({ count: 3, username: "altimarc" });
  });
