.row
  .span12
    %h1.heading Jobs
.row
  .span12
    %h2 So you love the digital entertainment industry. Good!
    %p
      We’re building a unique, one of a kind business that combines creative content with state of the art delivery systems.  
      Our content will be distributed on multiple platforms including web, mobile apps and existing media.
    %p
      Click here to see current openings.  Check back often as we continue to staff up and expand.

.row
  .span12
    %h3 Careers
    %br
    %p
      %strong Product
      %ul
        %li= link_to "Product Designer - Associate", "#"
        %li= link_to "Product Designer - Intern", "#"
        %li= link_to "Product Manager, Social Media Marketing - Associate", "#"      
        %li= link_to "Product Manager, Social Media Marketing - Intern", "#"

    %p
      %strong Software
      %ul
        %li= link_to "Software Apprentice", "#"
        %li= link_to "Software Engineer - Coffeescript, Javascript", "#"
        %li= link_to "Software Engineer - iPhone/iPad", "#"
        %li= link_to "Software Engineer - Ruby on Rails Developer", "#"

    %p
      %strong Video
      %ul
        %li= link_to "Video Editor - Associate", "#"
        %li= link_to "Video Editor - Intern", "#"
        %li= link_to "Video Editor - Sr. Associate", "#"


