= javascript_include_tag "https://js.stripe.com/v1/"
= javascript_include_tag "plugins/stripe"
- javascript 'frontend/new_musicplayer'
- stylesheet 'frontend/new_musicplayer'

-#- content_for :open_graph do
  -#%meta{:property => "og:title", :content => @song.title}
  -#%meta{:property => "og:image", :content => @song.album.image.thumb('70x70').url(:host => "http://#{request.host}")}
  -#%meta{:property => "og:url", :content => album_song_url(@song.album, @song)}
  -#%meta{:property => "og:type", :content => "#{APP_CONFIG['fb_namespace']}:song"}
  -#%meta{:property => "music:musician", :content => @song.album.channel.name }

#cover.row-fluid
  .span
    = image_tag(@album.image.thumb('490x440#').url, :class => 'img-rounded img-polaroid')

#album_details.row-fluid
  #inside_album_details.span
    #price.row-fluid
      .span
        %p.download
          Instant Download
        %p
          %span.price
            $#{@album.current_price}
          %sup.exclusive
            (Altimarc Exclusive)
        %p.release-price
          Release Price: 
          $#{@album.price}
    #buy_now.row-fluid
      .span
        - if current_user.present?
          - if current_user.orders.map(&:song).include?(@song)
            = link_to "My Downloads", downloads_url
          - else
            - if @album.preorder?
              = link_to "Pre-Order Album", "#buy_album_song_path", "data-toggle" => "modal", :href => "#buy_album", :role => "button", :class => "btn btn-success btn-large"              
            - else
              = link_to "Buy Album", "#buy_album_song_path", "data-toggle" => "modal", :href => "#buy_album", :role => "button", :class => "btn btn-success btn-large"
        - else
          - if @album.preorder?
            = link_to "Pre-Order Album", "#buy_album_song_path", :class => "btn btn-success btn-large connected"            
          - else
            = link_to "Buy Album", "#buy_album_song_path", :class => "btn btn-success btn-large connected"
    
    %h1= @album.title
    %p 
      %strong
        Release date:
    %p= @album.description

    .row-fluid
      #songs.span
        %table.table.table-striped
          %thead
            %tbody
              - @album.songs.each do |song|
                - if song.active?
                  %tr
                    %td.play-button= link_to '', "#{song.song}", :class => 'sm2_button'
                    %td
                      %p.title=song.title
                    %td.buy-button= link_to "Buy Song", album_song_url(@album, song), :class => 'btn pull-right'
                - else
                  %tr
                    %td.play-button
                      %td
                        %p.title= song.title
                    %td.coming-soon= link_to "Coming Soon", "#coming-soon", :class => 'not-released pull-right'


        -#%table.table.table-striped
          -#%thead
            -#%tbody
              -#- @album.songs.each do |song|
                -#%tr
                  -#-#%td= image_tag(song.album.image.thumb('50x50#').url
                  -#- if user_signed_in? && current_user.unpaid_member?
                    -#%td.center= link_with_icon("Play", song_url(song), "icon-play icon-white", "btn btn-info unpaid_members_music",  {:class => "play", :id => "play-#{song.id}", "data-song" => song.id})
                  -#- else
                    -#%td.center= link_with_icon("Play", song_url(song), "icon-play icon-white", "btn btn-info",  {:class => "play", :id => "play-#{song.id}", "data-song" => song.id})
                  -#%td.center= song.title
                  -#%td= link_to "Buy Song", album_song_url(@album, song), :class => 'btn pull-right'

    -#.row-fluid{:style => 'margin-top: 30px;'}
      -#.span2
        -#%a.twitter-follow-button{"data-show-count" => "false", "data-show-screen-name" => "false", :href => "https://twitter.com/#{@channel.twitter_id}", :target => "_blank"} Follow
      -#.span2
        -#.fb-like{"data-font" => "arial", "data-href" => "http://facebook.com/#{@channel.facebook_page}", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "50"}
      -#.span2
        -#.g-plusone{"data-href" => "https://plus.google.com/109799687634302877687", "data-size" => "medium"}


= render 'albums/buy_album'

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

-#google plus
%script{:src => "https://apis.google.com/js/plusone.js", :type => "text/javascript"}  
