- title "CMA FanFest Nashville"

= image_tag("cma-music-fest-banner.png")

.inside.giveaway
  %h1 CMA MUSIC FESTIVAL NASHVILLE

  %p
    FRIDAY, JUNE 8TH THRU SUNDAY, JUNE 10TH (3 DAYS AND 2 NIGHTS)

  %h2{:style => "color:red; padding: 20px 0;"} Congratulations to Cindy, from Shenandoah Valley, Virginia!!<br/> Thank y'all for signing up!!

  %div{ :style => "text-align: center;" }
    %h2
      PROUDLY PRODUCED BY “DREAM TRIP OF A LIFETIME”
    %strong
      EVENING SUPERSTAR CONCERT SERIES AT LP FIELD
    %strong
      DAYTIME CONCERT SERIES AT RIVERFRONT PARK 

    %ul
      %li ARTIST EXHIBIT BOOTHS AT NASHVILLE CONVENTION CENTER
      %li FAMILY ZONE, FUN ZONE & SPORTS ZONE 
      %li COUNTRY MUSIC HALL OF FAME & MUSEUM 
      %li WILD HORSE SALOON DANCE PARTY 
      %li WORLD FAMOUS MUSIC ROW  
      %li HONKY TONKIN’ ON LOWER BROADWAY
      %li ROUNDTRIP COACH CLASS AIRLINE TRANSPORTATION
      %li DELUXE LODGING AT HOTEL PRESTON
      %li DELUXE GROUND TRANSPORTATION 
      %li VIP RESERVATIONS AT NASHVILLE’S FUN RESTAURANTS 
      %li AIRPORT GREETINGS & ALOHAS 
      %li GROUP MEETING, GREETINGS & INTRODUCTIONS 
      %li WELCOME RECEPTION & BON VOYAGE PARTY 
      %li COMPREHENSIVE ELECTRONIC TRIP WINNER KIT 
      %li TRIP PARTICIPANT LAMINATES & LANYARDS 
      %li TRIP WINNER CONGRATULATIONS TELEPHONE CALL FROM J.D. HAAS 
      %li TRIP WINNER CONGRATULATIONS EMAIL NEWSLETTER 
      %li WORLD CLASS TRIP STAFF 
      %li VIP HOSPITALITY 
      %li HOST & ESCORT AT ALL EVENTS 
      %li GENERAL SUPERVISION
      %li 24 HOUR-A-DAY EMERGENCY ACCESS
      %li 30 YEARS OF WORLD CLASS SERVICE  
      %li TRIP HOST J.D. HAAS

    %em
      * EACH TRIP IS FOR ONE WINNER AND THEIR GUEST. DOES NOT INCLUDE MEALS OR SPENDING CASH. ALL TRIP EVENTS, VENUES AND DATES SUBJECT TO CHANGE. CERTAIN CONDITIONS APPLY TO AIRFARE.

    %hr
      .rules
        %strong Rules:
        %p
          Unless otherwise stated herein, all contests and/or promotions offered
          on 
          = link_to "altimarc.com", root_url
          are open to all US citizens, 21 years of age or older. No purchase
          is necessary; however data and message rates may apply. The current “Contest”
          offered on 
          = link_to "altimarc.com", root_url
          is entitled CMA MUSIC FESTIVAL – “DREAM TRIP OF A LIFETIME”. This contest runs 
          from March 22, 2012 to May 14, 2012. Entries are limited to one per household. Employees of 
          = link_to "altimarc.com", root_url
          and/or their family members are not eligible. Odds of winning depend on the number of entrants.
          Each selected winner is responsible for all applicable federal, state and local taxes
          and/or taxes in the country of residency and each selected winner agrees to abide
          by any additional guidelines provided by the producer of the Contest, J.D. Haas
          Entertainment (“Additional Guidelines”). By entering the Contest, you automatically grant
          = link_to "altimarc.com", root_url
          permission to use your name and likeness for promotional purposes in perpetuity. With respect to the Contest, 
          = link_to "altimarc.com", root_url
          is not responsible for any cancellations, airline delays, venue changes, artists’ cancellations or any other
          changes due to travel delays, illness and/or all acts of God.

        %p
          One winner will be selected from all entries for the 
          = link_to "altimarc.com", root_url
          Contest and will be notified of their selection within 3 business days. No more than the advertised prize
          shall be awarded. The winner must respond (and provide the necessary information
          for their selected guest) within 48 business hours of being notified or an alternate
          winner will be selected. There is no substitution of prizes. The prize(s) as advertised
          will be awarded if properly claimed by the winner according to these rules and the
          Additional Guidelines and if there are sufficient eligible entries. 
          = link_to "altimarc.com", root_url
          does not make, and is not responsible in any manner for, any warranties, representations,
          or guarantees, express or implied, in fact or law, relating to any prizes, regarding
          the use, value or enjoyment of the prize, including, without limitation, its quality,
          mechanical condition, merchantability, or fitness for a particular purpose. The prize
          may not be sold or transferred and is not convertible to cash. As such, the winner (and
          selected guest) hereby indemnify and hold harmless, 
          = link_to "altimarc.com", root_url
          ,
          = link_to "altimarc.com", root_url
          and their owners, employees, representatives, agents, directors, officers, successors and/or
          assigns from any and all claims or liability, including but not limited to such liability
          arising from any acts or omissions resulting in injury to body or property of winner
          (and selected guest) while participating in the Contest. All other additional costs and
          expenses related to prize acceptance and use not specified herein as being provided
          are the sole responsibility of winner(s). If the winner is disqualified or is found to be
          ineligible for the Contest, 
          = link_to "altimarc.com", root_url
          reserves the right to determine an alternate winner or not to award the prize, at its sole discretion.
