-#- if @songs.present?
.row
  .span12
    %ul.breadcrumb.entry-title
      %li.active Latest Music
    #latest_music.carousel.slide
      / Carousel items
      .carousel-inner
        - @songs.each_slice(4) do |array|
          .item
            %ul.thumbnails
              - array.each do |song|
                %li.span3
                  .thumbnail
                    = image_tag(song.album.image.thumb('280x160#').url)
                    .caption
                      %h5= song.title
                      %p= song.album.channel.name
                      %p
                        = link_with_icon("Play", song_url(song.id), "icon-play icon-white", "btn btn-info",  {:class => "play", :id => "play-#{song.id}", "data-song" => song.id})

      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#latest_music"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#latest_music"} ›
