#ribbon
%header
  .navbar.navbar-fixed-top
    = render 'shared/musicplayer'
    = render 'shared/nav'
.background-wrapper{"data-pjax-container" => ""}
  .content
    .container
      .test
        = yield

  = render 'layouts/frontend/first_time_visitor'

  = render 'layouts/frontend/footer'
