- unless params[:controller] == "registrations" || params[:controller] == "sessions" || params[:controller] == "devise/passwords" || params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" && params[:actions] == "new"
  - if params[:controller] == "home" || params[:controller] == "videos" || params[:controller] == "channels" || params[:controller] == "photos"
    = render 'shared/first_time_visitor_modal'
  - if params[:controller] == "channels" && params[:action] == "show" || params[:controller] == "video"
    - if user_signed_in? && current_user.unpaid_member?
      = render 'shared/payments_modal'
      = render 'shared/unpaid_members_videos_modal'
      = render 'shared/unpaid_members_photos_modal'
      = render 'shared/unpaid_members_music_modal'
= render 'shared/no_facebook_signup_modal'

