!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Altimarc - Entertainment. Elevated. - Beta"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "#{@description}", :name => "description"}
    %meta{:content => "#{@keywords}", :name => "keywords"}
    %meta{:content => "ALTIMARC, LLC", :name => "author"}
    %meta{:content => "index,follow", :name => "robots"}
    %meta{:property => "fb:app_id", :content => APP_CONFIG['facebook_app_id']}
    %meta{:name => "stripe-key", :content => "#{APP_CONFIG['stripe_public_key']}"}    
    = render 'layouts/frontend/meta'
    = yield :open_graph
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", :rel => "stylesheet"}
    = javascript_include_tag "frontend/application"
    = yield :head
    = stylesheet_link_tag "frontend/application", :media => "all"
    = favicon_link_tag
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    / Le fav and touch icons
    -#%link{:href => "ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    -#%link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    -#%link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    -#%link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    -#chartbeat
    :javascript
      var _sf_startpt=(new Date()).getTime()
  %body{:class => controller.controller_name}
    .background-wrapper{ :style => ("background: url('#{@channel.background_image.url}') repeat-x ##{@channel.background_color};" if @channel.present? && !@channel.background_image.nil? && !params[:controller] == "albums") }
      .content
        = render 'shared/nav'
        .container-fluid
          .container-content
            = render :partial => "shared/flash_messages", :locals => {:flash => flash}
            = yield
        #push
        = render 'layouts/frontend/footer'
    = render 'layouts/frontend/modals'
    = render 'shared/analytics'
