!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Altimarc - Entertainment. Elevated. - Beta"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "#{@description}", :name => "description"}
    %meta{:content => "#{@keywords}", :name => "keywords"}
    %meta{:content => "ALTIMARC, LLC", :name => "author"}
    %meta{:content => "index,follow", :name => "robots"}
    %meta{:property => "fb:app_id", :content => APP_CONFIG['facebook_app_id']}
    - if user_signed_in?
      %meta{:content => "user connected", :name => "user_connected"}
      - if current_user.paid_member?
        %meta{:content => "paid member", :name => "paid_member"}
      - if current_user.admin?
        %meta{:content => "admin", :name => "admin"}
    = yield :open_graph
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Rationale", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag "frontend/application"
    = yield :head
    = stylesheet_link_tag "frontend/application", :media => "all"
    = favicon_link_tag
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    / Le fav and touch icons
    %link{:href => "ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
  %body{:class => controller.controller_name}
    .navbar.navbar-fixed-top
      = render 'shared/musicplayer'
      #ribbon
      - unless params[:controller] == "registrations" || params[:controller] == "sessions" || params[:controller] == "devise/passwords" || params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" && params[:actions] == "new"
        = render 'shared/nav'
    .data{"data-pjax-container" => ""}
      - if params[:controller] == "channels" && params[:action] == "show" || params[:controller] == "videos" || params[:controller] == "photos"
        = yield
      - else
        .background-wrapper
          .content
            .container
              - if params[:controller] == "registrations" || params[:controller] == "sessions" || params[:controller] == "devise/passwords" || params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" && params[:actions] == "new"
                = yield
                :javascript
                  $.backstretch("../../../../assets/mark-collie-login.jpg");
              - else
                .row
                  .span12
                    = yield

      - unless params[:controller] == "registrations" || params[:controller] == "sessions" || params[:controller] == "devise/passwords" || params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" && params[:actions] == "new"
        = render 'shared/first_time_visitor'
        = render 'shared/no_facebook_signup'
        - if params[:controller] == "channels" || params[:controller] == "video"
          - if user_signed_in? && current_user.unpaid_member?
            = render 'shared/paid_members_modal'
        = render 'layouts/frontend/footer'

      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=505364239479743";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
