!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Altimarc - Entertainment. Elevated. - Beta"
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{:content => "#{@description}", :name => "description"}
    %meta{:content => "#{@keywords}", :name => "keywords"}
    %meta{:content => "ALTIMARC, LLC", :name => "author"}
    %meta{:content => "index,follow", :name => "robots"}
    %meta{:property => "fb:app_id", :content => APP_CONFIG['facebook_app_id']}
    - if current_user && current_user.unpaid_member?
      %meta{:name => "stripe-key", :content => "#{APP_CONFIG['stripe_public_key']}"}    
    = render 'layouts/frontend/meta'
    = yield :open_graph
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Rationale", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag "frontend/application"
    = yield :head
    = stylesheet_link_tag "frontend/application", :media => "all"
    = favicon_link_tag
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    / Le fav and touch icons
    %link{:href => "ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    -#chartbeat
    :javascript
      var _sf_startpt=(new Date()).getTime()
  %body{:class => controller.controller_name}
    .background-wrapper{ :style => ("background: url('#{@channel.background_image.url}') repeat-x ##{@channel.background_color};" if @channel.present?) }
      .container-fluid.content
        .navbar.navbar-fixed-top
          = render 'shared/musicplayer'
          #ribbon
          = render 'shared/nav'
        .data{"data-pjax-container" => ""}
          = render :partial => "shared/flash_messages", :locals => {:flash => flash}
          - if params[:controller] == "registrations" || params[:controller] == "sessions" || params[:controller] == "devise/passwords" || params[:controller] == "devise/sessions" || params[:controller] == "devise/registrations" && params[:action] == "create" 
            :css
              .navbar, #footer {
                display: none;
              }
              .content, .background-wrapper {
                background: none;
                box-shadow: none;
              }
            = yield
            -# TODO: each channel will have a custom background
            :javascript
              $.backstretch("../../../../assets/mark-collie-login.jpg");
          - else
            = yield
          = render 'layouts/frontend/footer'
          = render 'layouts/frontend/modals'
    = render 'shared/analytics'
