- title "Login"

.inside
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %fieldset
      .clearfix
        = f.label :email
        .input
          = f.email_field :email
    %fieldset
      .clearfix
        = f.label :password
        .input
          = f.password_field :password
    - if devise_mapping.rememberable?
      .clearfix
        = f.check_box :remember_me
        = f.label :remember_me
    %div= f.submit "Sign in"
  = render :partial => "devise/shared/links"

-# = form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'form-stacked') do |f|
-#   %fieldset
-#     %legend Sign In
-#     .clearfix
-#       = f.label 'Email'
-#       .input
-#         = f.email_field :email
-#     .clearfix
-#       = f.label :password
-#       .input
-#         = f.password_field :password
-#     .input
-#       %ul.inputs-list
-#         - if devise_mapping.rememberable?
-#           %label
-#             = f.check_box :remember_me
-#             %span= f.label :remember_me
-#     .actions
-#       = f.submit "Sign in", :class => 'btn primary'
-#       = link_to "Forgot your password?", new_password_path(resource_name), :class => 'btn'
