- title "Login"

:css
  #signup_box {
    margin: 160px auto 0; 
    float: none;
  }
  #signup_box p {
    text-align: center;
    color: #575B61;
    margin-bottom: 40px;
  }
  #signup_box img.logo {
    padding: 30px 0 5px 28px;
  }
  #signup_box #facebook {
    float: none;
    margin: 0 auto 8px;
    width: 201px;
  }
  #signup_box .btn-facebook {
    background: #455C8C url('assets/fb-icon.png') no-repeat 2px 4px;
    text-shadow: 1px 1px 1px #304371;
    border: 1px solid #425681;
    width: 193px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 10px 10px 40px;
    -moz-border-radius: 3px; 
    border-radius: 3px;
  }
  #other_links {
    margin: 0 auto;
    float: none;
  }
  #other_links a {
    font-weight: bold;
  }
  #other_links p {
    margin: 0px;
  }
  .overlay {
    background: rgba(255, 255, 255, .3); 
    padding: 6px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
  }
  .overlay-inside {
    background: white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-bottom: 50px;    
  }

- if params[:action] == 'new'
  .row
    .span6#signup_box
      .overlay
        .overlay-inside
          = image_tag('logo-login.png', :class => 'logo')
          %p Entertainment and once in a life time opportunities!
          .row
            .span#facebook
              = link_to "Sign in with Facebook", "/auth/facebook", id: "login", :class => 'btn-facebook'
          .row
            .span#other_links
              %p
                = link_to "Sign up with email", "#"
              %p
                Been here before?
                = link_to "Sign In", "#"
        .row
          .span
            = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
              %fieldset
                .clearfix
                  = f.label :email
                  .input
                    = f.email_field :email
              %fieldset
                .clearfix
                  = f.label :password
                  .input
                    = f.password_field :password
              - if devise_mapping.rememberable?
                .clearfix
                  = f.check_box :remember_me
                  = f.label :remember_me
              %div= f.submit "Sign in"
            -#= render :partial => "devise/shared/links"
-#- else
  -#%h2 Create Password
  -#= form_for(current_user, :url => create_password_path(current_user)) do |f|
    -#%fieldset
      -#.clearfix
        -#= f.label :password
        -#.input
          -#= f.password_field :password
    -#%fieldset
      -#.clearfix
        -#= f.label :password_confirmation
        -#.input
          -#= f.password_field :password_confirmation
    -#%div= f.submit "Create Password"
    -#= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      -#%fieldset
        -#.clearfix
          -#= f.label :email
          -#.input
            -#= f.email_field :email
      -#%fieldset
        -#.clearfix
          -#= f.label :password
          -#.input
            -#= f.password_field :password
      -#- if devise_mapping.rememberable?
        -#.clearfix
          -#= f.check_box :remember_me
          -#= f.label :remember_me
      -#%div= f.submit "Sign in"
    -#= render :partial => "devise/shared/links"

- else
  %h2 Create Password
  = form_for(current_user, :url => create_password_path) do |f|
    %fieldset
      .clearfix
        = f.label :password
        .input
          = f.password_field :password
    %fieldset
      .clearfix
        = f.label :password_confirmation
        .input
          = f.password_field :password_confirmation
    %div= f.submit "Create Password"

:javascript
  $.backstretch("assets/randy-owen-login.jpg");
