- title "Sign In"

.account-container
  .content.clearfix
    %h1 Sign In
    .login-social
      %p Sign in using social network:
      -#.row
        -#.span5#facebook_photos
          -#.fb-facepile{"data-max-rows" => "1", "data-width" => "340", "data-colorscheme" => "light", "app_id" => "505364239479743"}

      -#- if params[:state]
        -#%a.btn.btn-primary.btn-large#login{:href => "/auth/facebook?state=#{params[:state]}"}
          -#%i.icon-facebook
          -#Sign in with Facebook
      -#- else
      %a.btn.btn-primary.btn-large#login{:href => "/auth/facebook"}
        %i.icon-facebook
        Sign in with Facebook

    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .login-fields
        %p Sign in using your registered account:
        = f.email_field :email, :placeholder => "Username", :class => 'login username-field'
        = f.password_field :password, :placeholder => "Password", :class => "login password-field"
      .login-actions
        %span.login-checkbox 
          - if devise_mapping.rememberable?
            = f.check_box :remember_me, :class => 'choice'
            %label.choice
              Keep me signed in

        = f.submit "Sign In", :class => 'btn btn-danger btn-large button'

.login-extra
  Don't have an account?
  = link_to "Sign Up", signup_url
  %br/
  Remind
  = link_to "Password", new_user_password_url
