- title "Press Only"
- javascript 'admin/musicplayer'
- stylesheet 'admin/musicplayer'

:css
  ul#songs li {
    padding: 20px 0px 50px;
    margin: 10px 0;
    list-style: none;
    border-bottom: 1px solid #eee;
  }

%h1.heading Press Only

.row-fluid
  .span
    .span4
      .thumbnail
        = image_tag @album.image.thumb('488x400#').url
    .span8
      %h2= @channel.name
      %p= @channel.description


%h3.heading Webisodes

- @videos.each do |video|
  %h3= video.title
 
  %video.projekktor{:controls => "", :height => "385", :poster => "#{video.image.url}", :title => "this is Projekktor", :width => "640", :id => video.id}
    %source{:src => "#{video.video}.ogv", :type => "video/ogg"}/
    %source{:src => "#{video.video}.mp4", :type => "video/mp4"}/
    %source{:src => "#{video.video}.webm", :type => "video/webm"}/

%h3.heading Music
%ul#songs
  - @songs.each do |song|
    = content_tag_for :li, song do
      .span
        .span9
          = link_to '', "#{song.song}", :class => 'sm2_button'
          %strong= song.title

%h3.heading Photos
- @photos.each_slice(3) do |array|
  .row-fluid
    .span12
      - array.each do |photo|
        .span4{:style => 'margin-bottom: 20px;'}
          .thumbnail
            = image_tag photo.image.thumb('500x300#').url, :title => photo.title, 'data-content' => photo.description



:javascript
  $(document).ready(function() {
    projekktor('#1');
    projekktor('#2');
    projekktor('#3');
    projekktor('#4');
  });

