- title @channel.name

- content_for :open_graph do
  -#%meta{property: "og:title", content: @video.title}
  -#%meta{property: "og:type", content: "video.other"}
  -#%meta{property: "og:url",  content: channel_video_url(@channel, @video)}
  -#%meta{property: "og:image",content: "http://46qa.localtunnel.com/#{@video.image.url}"}
  -#%meta{property: "og:site_name", content: "Altimarc"}
  -#%meta{property: "og:description", content: @video.description}

:css
  .thumbnail {
    margin-bottom: 20px;
  }

.background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x ##{@channel.background_color};" }
  .content
    .container
      = render 'shared/breadcrumb'
      #gallery{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
        .row
          - @photos.each do |photo|
            .span.thumbnail
              = link_to image_tag(photo.image.thumb('280x180#').url), photo.image.url, :rel => "gallery", :title => photo.title, 'data-content' => photo.description if photo.image_uid
              .caption
                %h5= photo.title

      %hr
        %br
          / modal-gallery is the modal dialog used for the image gallery
          #modal-gallery.modal.modal-gallery.hide.fade
            .modal-header
              %a.close{"data-dismiss" => "modal"} ×
              %h3.modal-title
            .modal-body
              .modal-image
            .modal-footer
              %a.btn.btn-primary.modal-next
                Next
                %i.icon-arrow-right.icon-white
              %a.btn.btn-info.modal-prev
                %i.icon-arrow-left.icon-white
                Previous
              %a.btn.btn-success.modal-play.modal-slideshow{"data-slideshow" => "5000"}
                %i.icon-play.icon-white
                Slideshow

/ Image Gallery

= javascript_include_tag 'admin/plugins/load-image.min'
= javascript_include_tag 'admin/plugins/bootstrap-image-gallery.min'
= javascript_include_tag "admin/plugins/altimarc"

- javascript 'admin/plugins/altimarc.gallery'
