- title @post.title

- content_for :open_graph do
  %meta{property: "og:type", content: "article"}
  %meta{property: "og:url", content: post_url(@post)}
  %meta{property: "og:site_name", content: 'Altimarc' }
  %meta{property: "og:image", content: @post.image.url(:host => "http://#{request.host}")  }
  %meta{property: "og:title", content: @post.title }
  %meta{property: "og:published_time", content: @post.publish_on }

:css
  .posts .date {
    margin: 0 0 20px;
  }

.row-fluid{:style => 'padding-top: 20px;'}
  .span12
    = render 'shared/breadcrumb'
    .thumbnail
      = image_tag(@post.image.thumb('1560x852#n').url)
.row-fluid
  .span12
    %h1.heading= @post.title
    .date= @post.publish_on.strftime('%m/%d/%Y')
    .post= @post.description
