= simple_form_for [:admin, @channel], :html => {:multipart => true, :class => 'form-horizontal'} do |f|
  = f.input :name, :input_html => {:class => "input-xlarge"}
  = f.input :subdomain, :input_html => {:class => "input-xlarge" }
  = f.input :description, :input_html => {:class => "input-xlarge"}

  .control-group
    %label.control-label{:for => "prependedInput"} Background Color
    .controls
      .input-prepend
        %span.add-on #
        = f.text_field :background_color, :id => "prependedInput", :class => "span2"
      %p.help-block #000000 Hex Color for the Web

  = f.input :background_image, :as => :file
  = image_tag @channel.background_image.thumb('100x100#').url if @channel.background_image_uid
  = f.input :banner_image, :as => :file
  = image_tag @channel.banner_image.thumb('100x100#').url if @channel.banner_image_uid

  = f.simple_fields_for :feature_attributes, f.object.feature do |f|
    - f.with_options :as => :boolean do |f|
      = f.input :vault
      = f.input :news
      = f.input :events
      = f.input :giving

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    or 
    = link_to 'Go Back', url_for(:back), :class => 'btn'
