<h1>Channels</h1>
<table class="table table-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.admin_channel.name", :default => t("activerecord.labels.name", :default => "Name")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @channels.each do |channel| -%>
   <tr>
    <td><%= channel.id %></td>
        <td><%= link_to channel.name, admin_channel_path(channel) %>
    </td>
        <td><%= channel.created_at %></td>
    <td>
      <%= link_to "Show", admin_channel_path(channel) %>
      <%= link_to "Edit", edit_admin_channel_path(channel) %>
      <%= link_to "Destroy", admin_channel_path(channel), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_admin_channel_path, :class => 'btn btn-primary' %>
