%tr
  %td= user.email
  %td #{distance_of_time_in_words_to_now user.last_sign_in_at if user.last_sign_in_at} ago
  %td= user.sign_in_count
  %td
    = user.role.try(:humanize).try(:titleize)
    - if user.role == 'channel_master'
      (#{user.channel.name})
  %td
    %a.btn{:href => edit_admin_user_path(user)}
      %i.icon-pencil
      Edit
    -#%a.btn.btn-danger{:href => admin_user_path(user), :rel => 'nofollow', :'data-method' => :delete, :'data-confirm' => t('web-app-theme.confirm', :default => 'Are you sure?') }
      -#%i.icon-trash.icon-white
