= simple_form_for [:admin, @channel, @video], :html => {:multipart => true, :class => 'form-horizontal'} do |f|
  .form-inputs
    = f.input :title, :input_html => {:class => "input-xlarge"}
    = f.input :description, :input_html => {:class => "input-xlarge", :rows => 5, :cols => 300, :style => "width: 400px;"}
    = f.input :image, :as => :file, :label => "Image"
    = image_tag @video.image.thumb('100x100#').url if @video.image
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    or
    = link_to 'Go Back', url_for(:back), :class => 'btn'

