= render "admin/shared/sub_nav"
= form_for Video.new, :url => admin_channel_videos_path(@channel), :html => { :multipart => true, :id => "fileupload"  } do |f|
  %div{class: "row fileupload-buttonbar"}
    %div{class: "span7"}
      %span{class: "btn btn-success fileinput-button"}
        %i{class: "icon-plus icon-white"}
        %span 
          Add files...
          = f.file_field :video
      %button{type: "submit", class: "btn btn-primary start"}
        %i{class: "icon-upload icon-white"}
        %span Start upload
      %button{type: "reset", class: "btn btn-warning cancel"}
        %i{class: "icon-ban-circle icon-white"}
        %span Cancel upload
      %button{type: "button", class: "btn btn-danger delete"}
        %i{class: "icon-trash icon-white"}
        %span 
          Delete
          %input{type: "checkbox", class: "toggle"}
  %div{class: "span5"}
    %div{class: "progress progress-success progress-striped active fade"}
    %div{class: "bar", style: "width:0%;"}
  %div{class: "fileupload-loading"}
  %br
  %table{class: "table table-striped"}
    %tbody{:class => "files", "data-toggle" => "modal-gallery", "data-target" => "#modal-gallery"}

= render partial: '/shared/file_upload/templates'

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
= javascript_include_tag 'plugins/jquery-file-upload/vendor/jquery.ui.widget.js'
%script{src: "http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"}
%script{src: "http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"}
= javascript_include_tag "plugins/jquery-file-upload/jquery.iframe-transport.js"
= javascript_include_tag "plugins/jquery-file-upload/jquery.fileupload.js"
= javascript_include_tag "plugins/jquery-file-upload/jquery.fileupload-ui.js"
= javascript_include_tag "plugins/jquery-file-upload/locale.js"

= render partial: '/shared/file_upload/script'

