%a.brand{:href => admin_root_path } Altimarc Admin
.nav-collapse
  %ul.nav
    %li= link_to "Channels", admin_channels_path
    %li= link_to "Giveaways", "#"
    %li= link_to "Games", "#"
    %li= link_to "Ads", "#"
    %li= link_to "Reporting", "#"
    %li= link_to "Users", admin_users_path
  %p.navbar-text.pull-right
    Logged in as
    = link_to current_user.email, edit_user_registration_path
    = link_to('Logout', logout_url(subdomain: "www"), :method=>'delete')

