%ul.nav
  %li.active= link_to "Home", admin_root_path
  %li= link_to "Channels", admin_channels_path
  %li= link_to "Giveaways", "#"
  %li= link_to "Games", "#"
  %li= link_to "Ads", "#"
  %li= link_to "Reporting", "#"
  %li= link_to "Users", admin_users_path
