!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Altimarc - Entertainment. Elevated. - Beta"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "#{@description}", :name => "description"}
    %meta{:content => "#{@keywords}", :name => "keywords"}
    %meta{:content => "ALTIMARC, LLC", :name => "author"}
    %meta{:content => "index,follow", :name => "robots"}
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Rationale", :rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag "frontend/application"
    = yield :head
    = stylesheet_link_tag "frontend/application", :media => "all"
    = favicon_link_tag
    / <link href="css/bootstrap-responsive.css" rel="stylesheet">
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    / Le fav and touch icons
    %link{:href => "../assets/ico/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{:href => "ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href => "ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href => "ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    -if @channel.present?
      %script
        window.channel_id = #{@channel.id}
        window.channel_subdomain = "#{@channel.subdomain}"
    -else
      %script
        window.channel_id = 0
        window.channel_subdomain = ""
  %body
    %header
      .navbar.navbar-fixed-top
        = render 'shared/musicplayer'
        = render 'shared/nav'
    .body
      .container{"data-pjax-container" => ""}
        = yield

  #footer
    .container
      .row
        .span12
          %p
            &copy;
            = Time.now.year
            = link_to 'ALTIMARC, LLC.', root_url
            %span | All rights reserved.

