!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "Altimarc - Entertainment. Elevated. - Beta"
    %meta{:content => "#{@description}", :name => "description"}
    %meta{:content => "#{@keywords}", :name => "keywords"}
    %meta{:content => "ALTIMARC, LLC", :name => "author"}
    %meta{:content => "index,follow", :name => "robots"}
    = csrf_meta_tags
    / HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = javascript_include_tag "application", "video"
    = yield :head
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 
    -# %link{:href => "images/apple-touch-icon.png", :rel => "apple-touch-icon"}
    -# %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    -# %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    :javascript
      _V_.options.flash.swf = "assets/video-js.swf";
  %body
    - if params[:controller] == "channels"
      .background-wrapper{ :style => "background: url('#{@channel.background_image.url if @channel.background_image_uid}') repeat-x #000;" }
        %div{"data-pjax-container" => ""}
          %header
            = render 'shared/navigation'
          .container
            = render 'shared/flash_messages', :locals => { :flash => flash }
            .content
              = yield
          %footer
            = render "layouts/footer"
    - else
      #video{:style => "margin: 100px auto 0px;"}
        .container
          = render 'layouts/video'
      .background-wrapper
        %div{"data-pjax-container" => ""}
          %header
            = render 'shared/navigation'
          .container
            - if params[:controller] == "registrations"
              = yield
            - elsif params[:controller] == "sessions"
              = yield
            - else
              = render 'shared/flash_messages', :locals => { :flash => flash }
              .content
                = yield
            %footer
              = render "layouts/footer"
    = render 'shared/musicplayer'
    / Javascript
    = render "layouts/analytics"
    = render "shared/current_user"
