!!!
%html
  %head
    %title Altimarc - Entertainment. Elevated. - Beta
    %meta{:content => "#{@description}", :name => "description"}
    %meta{:content => "#{@keywords}", :name => "keywords"}
    %meta{:content => "ALTIMARC, LLC", :name => "author"}
    %meta{:content => "index,follow", :name => "robots"}
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    = render 'shared/navigation'
    #container.container
      %header
        = link_to image_tag('layout/header-logo.png'), root_url
      %div{ :style => 'overflow: auto;' }
        = yield
        %footer{ :style => 'text-align: center; margin: 20px 0 40px; border-top: 1px solid #9A9A9A; padding: 40px 0 20px; color: #999999 !important;' }
          = image_tag('layout/footer-logo.png')
          %p 
            &copy;
            = Time.now.year
            = link_to 'ALTIMARC, LLC.', 'http://altimarc.com'
            %span All rights reserved.
